
:root {
    --settings-icon: url(https://cdn.discordapp.com/attachments/1180332254615052288/1180333797770788944/Settings.png?ex=657d0a82&is=656a9582&hm=cb0223a21fd1fa34cbcb7f560a2ec9fd279044a2eeb5402ba3ff22d39983e9db);  

    --misc-file: url(https://cdn.discordapp.com/attachments/1179525688240386058/1179891775687643178/misc.png?ex=657b6ed8&is=6568f9d8&hm=204c10c1f32364d1815822ac4f9a58c03303d832e9cd6eabc96f82defb3f783c&);
    --zip-file: url(https://cdn.discordapp.com/attachments/1179525688240386058/1179891775477919834/zip.png?ex=657b6ed8&is=6568f9d8&hm=97efd937a9a824d5fbd90f5e49f8c75bd2f9dd6a235685d908f0ca337593f9a1&);
    --webcode-file: url(https://cdn.discordapp.com/attachments/1179525688240386058/1179891775251423292/code.png?ex=657b6ed8&is=6568f9d8&hm=2d6836635f5fc6ff38ca8337142be6ae38ad042659f79eccadfc4a3bd5783ce5&);
    --code-file:  url(https://cdn.discordapp.com/attachments/1179525688240386058/1179891775029137469/js.png?ex=657b6ed8&is=6568f9d8&hm=6b9aff9a839a27699f0ed5c3d3e580aa9408ec436f0062a00a969d9e4aea81a2&);
    --text-file: url(https://cdn.discordapp.com/attachments/1179525688240386058/1179891774811025579/txt.png?ex=657b6ed8&is=6568f9d8&hm=45b617c30f9d06ee10c4e4d1002899ff928218d3a06b8cf342de0f8e5a881e6a&);
    --audio-file: url(https://cdn.discordapp.com/attachments/1179525688240386058/1179891774555181066/audio.png?ex=657b6ed8&is=6568f9d8&hm=995a6348bc6b2ae384c82e60e238193274929c2b0674e2d7ff799d68924d2a52&);
    --pdf-file: url(https://cdn.discordapp.com/attachments/1179525688240386058/1179891774261571745/pdf.png?ex=657b6ed8&is=6568f9d8&hm=845b30add50bd1f661b0a8c0c8321d5a635be1afeaf2c77a5898c1f52d1480a0&);

    /* vc btns */
    --camera-btn-off: url(https://cdn.discordapp.com/attachments/1180332254615052288/1181462070579957780/webcam2.png?ex=6581254c&is=656eb04c&hm=334b8d8430bc427a31257a4afbfb74bfbd847c46f35cbaef5e4a4f4d464f920a&);
    --camera-btn-on: url(https://cdn.discordapp.com/attachments/1180332254615052288/1181462070747746404/webcam.png?ex=6581254c&is=656eb04c&hm=b487fdd8f656cbfacd29a4c1190220d91c8c67a583d039bf45948c84a91fadb9&);
    --screenshare-btn-off: url(https://cdn.discordapp.com/attachments/1180332254615052288/1180929786118418494/sharescreen.png?ex=657f3591&is=656cc091&hm=251e8076821735259a2c8e422044dd8f31cb0ce0bd913ecabdf68b26866e3d8c&);
    --screenshare-btn-on: url(https://cdn.discordapp.com/attachments/1180332254615052288/1180929785887719494/sharescreen2.png?ex=657f3591&is=656cc091&hm=05ead36e443de14a6968741490bc2584ada5ecfa37a805f4e24e1a8fb635a3cb&);
    --activity-btn: url(https://cdn.discordapp.com/attachments/1180332254615052288/1181024837116887120/activities.png?ex=657f8e17&is=656d1917&hm=ba639f029d5325f68bcb7e493c57688e9df39bfbb1999555d82a2cf740bc12c0&);
    --soundboard-btn: url(https://cdn.discordapp.com/attachments/1180332254615052288/1181024837381140510/soundboard.png?ex=657f8e17&is=656d1917&hm=c64ccd97bce35815e7fc5304b1cabafa0e367a154e21a667cd6a3f2a8974ab2d&);
    --disconnect-btn: url(https://cdn.discordapp.com/attachments/1180332254615052288/1181031817504116786/disconnect.png?ex=657f9497&is=656d1f97&hm=8f4fe26b6e44b70ae1308cb91f4cbd46e33c6ee5918e8ee8475fc30e4376c618&);

    --delete-btn: url(https://cdn.discordapp.com/attachments/1180332254615052288/1181018690855124992/stop_streaming.png?ex=657f885e&is=656d135e&hm=251517f40fa472b981a5fadf7aa314d3dfbcd840494674732b5ea74660b778d2&);

    /* typing form */
    --plus-btn: url(https://cdn.discordapp.com/attachments/1181034545097740358/1181062608892219412/plus.png?ex=657fb145&is=656d3c45&hm=138cc4737e0290be051f30b2b356c357986a7f7ac06dfef5483e29c346814523&);
}

/* bottom left icons */

.button__4f306, .sidebar_ded4b5.button__4f306 {
    padding: 4px;
}

.button__66e8c:hover, .button__4f306:hover {
    filter: contrast(1.2);
    transform: scale(1.1);
    transition: 0.2s;

}

/* vencord game activity */
.button__4f306[aria-label="Disable Game Activity"], .sidebar_ded4b5 .button__4f306[aria-label="Disable Game Activity"][aria-checked="false"] {
    content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1180333798009868358/Game-Enabled.png?ex=657d0a82&is=656a9582&hm=b1b90d3f8236c51d6e63219f2a7251f8391bfd2805d821ad24c208104f1ca0e2&);
}
/* vencord game activity disabled*/
.button__4f306[aria-label="Enable Game Activity"], .sidebar_ded4b5 .button__4f306[aria-label="Enable Game Activity"][aria-checked="true"] {
    content: url(https://media.discordapp.net/attachments/1180332254615052288/1180333797548511312/Game-Disabled.png?ex=657d0a82&is=656a9582&hm=3bd4cc9776caf9e195d1e36226215528b42c7b35ee7636cd41e6458b7f482efd&);
}

/* unmuted */
.button_4f306[aria-label="Mute"][aria-checked="false"], .sidebar_ded4b5 .button__4f306[aria-label="Mute"] {
    content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1180346138193313868/Microphone.png?ex=657d1601&is=656aa101&hm=6581bcad30f6feefe01855b17916f8209dad27fb71963d33bd8927518abcfc26&);
}

/* muted */
.button_4f306[aria-label="Mute"][aria-checked="true"], .sidebar_ded4b5 .button__4f306[aria-label="Mute"][aria-checked="true"] {
    content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1180346138457538570/Microphone2.png?ex=657d1601&is=656aa101&hm=0b8f2cd51d8e8b714bc8dde5419255133a4bf170155d4fdd1af5b1aedaeeb3e2&);
}

/* undeafened */
.button__4f306[aria-label="Deafen"][aria-checked="false"], .sidebar_ded4b5 .button__4f306[aria-label="Deafen"][aria-checked="false"] {
    content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1180333798500597851/Volume.png?ex=657d0a83&is=656a9583&hm=db55c958180045a9383f4607214e43c8757881e8434dee60e8798032b378b2ca&);
}

/* deafened */
.button__4f306[aria-label="Deafen"][aria-checked="true"], .sidebar_ded4b5 .button__4f306[aria-label="Deafen"][aria-checked="true"] {
    content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1180333798265737216/Volume2.png?ex=657d0a83&is=656a9583&hm=c47d6a7c9f33f7d5e0ba5d886c4982851a6c33af52884f925a0a03df39947896&);
}

.button__4f306[aria-label="User Settings"],  .sidebar_ded4b5 .button__4f306[aria-label="User Settings"] {
    content: var(--settings-icon);
}

/* joined call buttons */

.button__66e8c image{

}


/* unactive buttons */
.button__66e8c.buttonColor_a6eb73{

}

/* active buttons */
.button__66e8c.buttonColor_a6eb73.buttonActive__407a7{

}

/* -=- camera -=- */

/* camera off */
.button__66e8c[aria-label="Turn On Camera"] div {
    content: var(--camera-btn-off);
}

/* camera on */
.button__66e8c[aria-label="Turn Off Camera"] div {
    content: var(--camera-btn-on)
}


/* -=- sharescreen -=- */

/* sharescreen off */
.button__66e8c[aria-label="Share Your Screen"] div {
    content: var(--screenshare-btn-off);
}

/* sharescreen on */
.button__66e8c[aria-label="Share Your Screen"].buttonActive__407a7 div {
    content: var(--screenshare-btn-on);
}

#manage-streams-change-windows > div.iconContainer__829e7 {
    content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1181018690611851264/change_window.png?ex=657f885e&is=656d135e&hm=6a68eeb8cf26005a8b5cdfe186085c46d689b062f3c12c17a5a250b84c46fa57&);
}
#manage-streams-stop-streaming > div.iconContainer__829e7 {
    content: var(--delete-btn);
}

.button__66e8c[aria-label="Start an Activity"] div{
    content: var(--activity-btn);
}

.button__66e8c[aria-label="Open Soundboard"] div {
    content: var(--soundboard-btn);
}

.button__66e8c[aria-label="Soundboard disabled when deafened"] div {
    content: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/muteall0.png);
}


/* -=- disconnect -=- */
.button__4f306[aria-label="Disconnect"] {
    content: var(--disconnect-btn);
}

.rtcConnectionQualityFine__471b6{
    content: url()
}

/* -=-=- uploads -=-=- */
.icon_c2f643 {
    background-size: contain;
    margin: 10px;
}

/* misc */
.icon_c2f643.unknown_f537da{
    background-image: var(--misc-file);
}
/* zip */
.icon_c2f643.archive__2249d {
    background-image: var(--zip-file);
}

/*text file */
.icon_c2f643.document__49623 {
    background-image: var(--text-file);
}

/* webcode */
.icon_c2f643.webcode_d3a040 {
    background-image: var(--webcode-file);
}

/* code */
.icon_c2f643.code_d3dfc7 {
    background-image: var(--code-file);
}

/* audio */
.icon_c2f643.audio__4fc0c {
    background-image: var(--audio-file);
}

/* pdf */
.icon_c2f643.acrobat_fec748 {
    background-image: var(--pdf-file);
}

/* -=-  */

/* -=- before uploading -=- */

/* image sizes */
.icon__30aa7, .audioMetadata_e546a8:before{
    height: 40px;
    width: 40px;
}


/* zip */
[src="/assets/5ff8ffaa3831478d2a28.svg"] {
    content: var(--zip-file);
}

/* misc */
[src="/assets/5b74fc90eac76055a5ad.svg"] {
    content: var(--misc-file);
}

/* sound upload image */
.audioMetadata_e546a8:before{
    background-image: var(--audio-file);
}

/* pdf */
[src="/assets/18517b33da6ed36b855b.svg"] {
    content: var(--pdf-file);
}


/* untouched */

/*bouton bas avatar+son+mute */
.theme-light .container_d667ff {
    background:rgb(255, 246, 235);
    border-radius: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* background-color:blue; */
    background-size:contain;
    /* display:none; */
}

.container-YkUktl .flex-2S1XBF button:nth-child(3) .contents-3ca1mk svg {
    background:green;
   display:none;
}

.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(3) {
        background-size:contain;
      height:24px;
      width:24px;
      margin-right:5px;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(5) .iconWrapper-2awDjA svg{
    background:grey;
}
#channel-attach-upload-file > div > div.optionLabel__254ef > svg {
    background:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/download.png);
    background-size:contain;
    color: transparent;
}

/* button right message bar*/
.buttons-uaqb-5 :nth-child(2) svg{
background:blue;
visibility:hidden;
display:none;
}


.emojiButton-3FRTuj {
background:red;
background:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/emote.png);
background-size:24px 24px;
background-position:fixed;
background-repeat:no-repeat;
margin-top:8px;
}


/* bottom bar */


.attachButton_eba568:hover, .button_afdfd9:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
/* plus */
.attachButton_eba568[aria-label="Upload a file or send invites"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing%20form/plus.png);
}

.attachButton_eba568[aria-label="Upload a file or send invites"][aria-expanded=true] {
    filter: invert(2)hue-rotate(180deg);
    transition: 0.5s;
}

.button_afdfd9[aria-label="Send a gift"]{
    content: url(https://numoder.github.io/dlm7-theme/assets/typing%20form/gift.png);
    margin: 7px;
}

.button_afdfd9[aria-label="Encrypt Message"]{
    content: url(https://numoder.github.io/dlm7-theme/assets/typing%20form/lock.png);
    margin: 7px;
}

.button_afdfd9[aria-label="Open GIF picker"]{
    content: url(https://numoder.github.io/dlm7-theme/assets/typing%20form/gif.png);
    width: 35px;
}

.stickerButton__8af38{
    content: url(https://numoder.github.io/dlm7-theme/assets/typing%20form/sticker.png);
    width: 30px;
}

.emojiButton__8ff6a{
    content: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/emote.png);
}

.emojiButton__8ff6a:hover{
    content: url(https://numoder.github.io/dlm7-theme/assets/emojis/wink.gif);
}

.button__8d734[aria-label="Send Message"] disabled{
    content: url(https://numoder.github.io/dlm7-theme/assets/typing%20form/send.png);
    filter: grayscale(0);
    margin: 8px;
}
.button__8d734[aria-label="Send Message"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing%20form/send.png);
    margin: 8px;
}

.button_afdfd9:disabled, .button_afdfd9[aria-disabled=true] {
    cursor: not-allowed;
    opacity: 0.75;
}
    
/* channel header icons */
.icon__88ea8[aria-label="Threads"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/threads.png);
}

.iconWrapper_af9215[aria-label="Notification Settings"] {
    content:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/bell.png);
    height:32px;
    width:32px;
    margin-right:5px;
}

.iconWrapper_af9215[aria-label="Inbox"]{
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/inbox.png);
    height:24px;
    width:24px;
    margin-right:8px;
}

.iconWrapper_af9215[aria-label="Help"]{
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/help.png);
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.iconWrapper_af9215:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.iconWrapper_af9215[aria-label="Pinned Messages"]{
    content:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/pin.png);
    height:32px;
    width:32px;
    margin-right:5px;
}

.iconWrapper_af9215[aria-label="Update Ready!"]{
    background:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/download.png);
    height:32px;
    width:32px;
    margin-right:5px;
}

.iconWrapper_af9215[aria-label="Show Member List"], .iconWrapper_af9215[aria-label="Hide Member List"]{
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/memberlist.png);
    height:32px;
    width:32px;
    margin-right:5px;
}

.iconItem__8e3b8[aria-label="Open Chat"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/Open%20Chat.png);
    height: 16px;
}
.iconItem__8e3b8[aria-label="Create Invite"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/Invite%20Friends.png);
    height: 16px;
}

/* friends */
/* aside.container__0a6a9, ol.scrollerInner__059a5[aria-label="Messages in "] {
    background: url(https://numoder.github.io/dlm7-theme/assets/friends/Friends.png);
    background-size: 22.5vw;
    background-position: bottom right;
    background-repeat: no-repeat;
} */

/* home - online */

.actionButton__23182{
    background-color: transparent;
}

.actionButton__23182[aria-label="Message"] svg {
    background: url(https://numoder.github.io/dlm7-theme/assets/general/Open%20Chat.png);
    background-size: 20px;
    margin-left: 1.5px;
}

.actionButton__23182[aria-label="More"] svg {
    background: url(https://numoder.github.io/dlm7-theme/assets/bottom%20left%20icons/815.png);
    background-size: 22px;
    background-repeat: no-repeat;
    margin-left: 1.5px;
}
.actionButton_23182.highlight__5b64b{
    background-color: transparent;
}

svg.icon__7215c{
    color: transparent;
}

