/* bottom left icons */

.button__4f306,
.sidebar_ded4b5.button__4f306 {
    padding: 4px;
}

.button__66e8c:hover,
.button__4f306:hover {
    filter: contrast(1.2);
    transform: scale(1.1);
    transition: 0.2s;

}

/* vencord game activity */

.button__4f306[aria-label="Disable Game Activity"],
.sidebar_ded4b5 .button__4f306[aria-label="Disable Game Activity"][aria-checked="false"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/user-area/Game-Enabled.png);
}

/* vencord game activity disabled*/
.button__4f306[aria-label="Enable Game Activity"],
.sidebar_ded4b5 .button__4f306[aria-label="Enable Game Activity"][aria-checked="true"] {
    content:url(https://numoder.github.io/dlm7-theme/assets/user-area/Game-Disabled.png);
}

/* unmuted */
.button_4f306[aria-label="Mute"][aria-checked="false"],
.sidebar_ded4b5 .button__4f306[aria-label="Mute"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/user-area/Microphone.png);
}

/* muted */
.button_4f306[aria-label="Mute"][aria-checked="true"],
.sidebar_ded4b5 .button__4f306[aria-label="Mute"][aria-checked="true"] {
    content:url(https://numoder.github.io/dlm7-theme/assets/user-area/Microphone2.png);
}

/* undeafened */
.button__4f306[aria-label="Deafen"][aria-checked="false"],
.sidebar_ded4b5 .button__4f306[aria-label="Deafen"][aria-checked="false"] {
    content:url(https://numoder.github.io/dlm7-theme/assets/user-area/Volume.png);
}

/* deafened */
.button__4f306[aria-label="Deafen"][aria-checked="true"],
.sidebar_ded4b5 .button__4f306[aria-label="Deafen"][aria-checked="true"] {
    content:url(https://numoder.github.io/dlm7-theme/assets/user-area/Volume2.png);
}

.button__4f306[aria-label="User Settings"],
.sidebar_ded4b5 .button__4f306[aria-label="User Settings"] {
    content:url(https://numoder.github.io/dlm7-theme/assets/general/Settings.png);
}

/* -=- camera -=- */

/* camera off */
.button__66e8c[aria-label="Turn On Camera"] div {
    content: url(https://numoder.github.io/dlm7-theme/assets/user-area/webcam2.png);
}

/* camera on */
.button__66e8c[aria-label="Turn Off Camera"] div {
    content: url(https://numoder.github.io/dlm7-theme/assets/user-area/webcam.png);
}


/* -=- sharescreen -=- */

/* sharescreen off */
.button__66e8c[aria-label="Share Your Screen"] div {
    content: url(https://numoder.github.io/dlm7-theme/assets/voicecall/sharescreen.png);
}

/* sharescreen on */
.button__66e8c[aria-label="Share Your Screen"].buttonActive__407a7 div {
    content: url(https://numoder.github.io/dlm7-theme/assets/voicecall/sharescreen2.png);
}

#manage-streams-change-windows>div.iconContainer__829e7 {
    content: url(https://numoder.github.io/dlm7-theme/assets/voicecall/window.png);
}

#manage-streams-stop-streaming>div.iconContainer__829e7 {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/delete.png);
}

.button__66e8c[aria-label="Start an Activity"] div {
    content: url(https://numoder.github.io/dlm7-theme/assets/voicecall/games.png);
}

.button__66e8c[aria-label="Open Soundboard"] div {
    content: url(https://numoder.github.io/dlm7-theme/assets/voicecall/soundboard.png);
}

.button__66e8c[aria-label="Soundboard disabled when deafened"] div {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/delete.png);
}

/* -=- disconnect -=- */
.button__4f306[aria-label="Disconnect"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/delete.png);
}


/* -=-=- uploads -=-=- */
.icon_c2f643 {
    background-size: contain;
    margin: 10px;
}

/* image sizes */
.icon__30aa7,
.audioMetadata_e546a8:before {
    height: 40px;
    width: 40px;
}

/* misc */
.icon_c2f643.unknown_f537da, [src="/assets/5b74fc90eac76055a5ad.svg"] {
    background-image: var(--misc-file);
}

/* zip */
.icon_c2f643.archive__2249d, [src="/assets/5ff8ffaa3831478d2a28.svg"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/files/zip.png);
}

/*text file */
.icon_c2f643.document__49623 {
    content: url(https://numoder.github.io/dlm7-theme/assets/files/txt.png);
}

/* webcode */
.icon_c2f643.webcode_d3a040 {
    content: url(https://numoder.github.io/dlm7-theme/assets/files/webcode.png);
}

/* code */
.icon_c2f643.code_d3dfc7 {
    content: url(https://numoder.github.io/dlm7-theme/assets/files/code.png);
}

/* audio */
.icon_c2f643.audio__4fc0c, .audioMetadata_e546a8:before {
    content: url(https://numoder.github.io/dlm7-theme/assets/files/audio.png);
}

/* pdf */
.icon_c2f643.acrobat_fec748, [src="/assets/18517b33da6ed36b855b.svg"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/files/pdf.png);
}

div.attachment_f3cf2c,
div.messageAttachment_b97504>div.wrapperAudio__555ce {
    background-color: #f3f3fd;
    border: 1px solid #506b9a;
    box-shadow: inset -10px -10px 14px -5px #8297c2, inset 12.5px 12.5px 14px -10px white;
    border-radius: 5px;
    background-size: contain;
}



/* -=- before uploading -=- */

.list__02208 {
    padding-bottom: 12px;
}

.theme-light .container_d667ff {
    background-color: #f3f3fd;
    border: 1px solid #506b9a;
    box-shadow: inset -10px -10px 14px -5px #8297c2, inset 10px 10px 14px -10px white;
    border-radius: 5px;
    margin: 5px;
    background-size: contain;
}

.button__66e8c.buttonColor_a6eb73,
.disabledButtonWrapper__69c70.button__66e8c {
    background: transparent;    
    height: fit-content;
    width: 45px;
    border-radius: 50px;
    padding: 10px;
}

.button__66e8c.buttonColor_a6eb73:hover {
    background-color: #f3f3fd;
    border: 1px solid #506b9a;
    box-shadow: inset -10px -10px 14px -5px #8297c2, inset 10px 10px 14px -10px white;
    background-size: contain;
}

.button__66e8c.buttonColor_a6eb73 svg:hover,
.button__66e8c.buttonColor_a6eb73.buttonActive__407a7,
.button__66e8c[aria-expanded=true].buttonColor_a6eb73 {
    background-color: #e1ffcb;
    box-shadow: inset -10px -10px 14px -5px #83ff87, inset 10px 10px 14px -10px white;
    border: 1px solid #506b9a;
}

.container-YkUktl .flex-2S1XBF button:nth-child(3) .contents-3ca1mk svg {
    background: green;
    display: none;
}

.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(3) {
    background-size: contain;
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(5) .iconWrapper-2awDjA svg {
    background: grey;
}

#channel-attach-upload-file>div>div.optionLabel__254ef>svg {
    background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/download.png);
    background-size: contain;
    color: transparent;
}

/* button right message bar*/
.buttons-uaqb-5 :nth-child(2) svg {
    background: blue;
    visibility: hidden;
    display: none;
}

.emojiButton-3FRTuj {
    background: red;
    background: url(https://numoder.github.io/dlm7-theme/assets/emojis/happy.gif);
    background-size: 24px 24px;
    background-position: fixed;
    background-repeat: no-repeat;
    margin-top: 8px;
}


/* bottom bar */
.attachButton_eba568:hover,
.flex_f5fbb7>.button_afdfd9:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* plus */
.attachButton_eba568[aria-label="Upload a file or send invites"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing-form/plus.png);
}

.attachButton_eba568[aria-label="Upload a file or send invites"][aria-expanded=true] {
    filter: invert(2)hue-rotate(180deg);
    transition: 0.5s;
}

.button_afdfd9[aria-label="Send a gift"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing-form/gift.png);
    margin: 7px;
}

.button_afdfd9[aria-label="Encrypt Message"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing-form/lock.png);
    margin: 7px;
}

.button_afdfd9[aria-label="Open GIF picker"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing-form/gif.png);
    width: 35px;
}

.stickerButton__8af38 {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing-form/sticker.png);
    width: 30px;
}

.emojiButton__8ff6a {
    content: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/emote.png);
}

.emojiButton__8ff6a:hover {
    content: url(https://numoder.github.io/dlm7-theme/assets/emojis/wink.gif);
    height: 31px;
    width: 31px;
}

.button__8d734[aria-label="Send Message"] disabled {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing-form/send.png);
    filter: grayscale(0);
    margin: 8px;
}

.button__8d734[aria-label="Send Message"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/typing-form/send.png);
    margin: 8px;
}

.button_afdfd9:disabled,
.button_afdfd9[aria-disabled=true] {
    cursor: not-allowed;
    opacity: 0.75;
}

/* channel header icons */
div.iconWrapper_af9215[aria-label="Add Friends to DM"],
.button__6d358[aria-label="Invite"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/Invite%20Friends.png);
    margin-top: 3px;
}

div.iconWrapper_af9215[aria-label="Start Voice Call"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/phone.png);
}

div.iconWrapper_af9215[aria-label="Start Video Call"],
.iconSpacing__59128[aria-label="Video"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/webcam.png);
    width: 25px;
}

.icon__88ea8[aria-label="Threads"],
.button_d553e5[aria-label="Create Thread"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/pin.png);
}

.iconWrapper_af9215[aria-label="Notification Settings"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/bell.png);
}

.iconWrapper_af9215[aria-label="Inbox"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/inbox.png);
}

.iconWrapper_af9215[aria-label="Help"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/help.png);
}

.iconWrapper_af9215:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.iconWrapper_af9215[aria-label="Pinned Messages"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/favorites.png);
}

.iconWrapper_af9215[aria-label="Hide Member List"],
.iconWrapper_af9215[aria-label="Show Member List"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/memberlist.png);

}

.iconWrapper_af9215[aria-label="New Group DM"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/chatplus.png);
}

.iconWrapper_af9215[aria-label="Update Ready!"] {
    background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/download.png);
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.iconWrapper_af9215[aria-label="Show Member List"],
.iconWrapper_af9215[aria-label="Hide Member List"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/memberlist.png);
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

li:nth-child(2)>div>a>div>div.avatar__7bd22 {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/memberlist.png);
}

.iconItem__8e3b8[aria-label="Open Chat"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/chat.png);
    height: 16px;
}

.iconItem__8e3b8[aria-label="Create Invite"],
.iconItem__8e3b8[aria-label="Invite to Server"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/Invite%20Friends.png);
    height: 16px;
}

/* home - online */
.actionButton__23182 {
    background-color: transparent;
}

.actionButton__23182[aria-label="Message"] svg {
    background: url(https://numoder.github.io/dlm7-theme/assets/general/chat.png);
    background-size: 20px;
    margin-left: 1.5px;
}

.actionButton__23182[aria-label="More"] svg {
    background: url(https://numoder.github.io/dlm7-theme/assets/user-area/815.png);
    background-size: 22px;
    background-repeat: no-repeat;
    margin-left: 1.5px;
}

.actionButton_23182.highlight__5b64b {
    background-color: transparent;
}

.actionButton__23182[aria-label="Accept"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/accept.png);
}

.actionButton__23182[aria-label="Ignore"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/stop.png);
}

.actionButton__23182:hover {
    box-shadow: 0 0 100px rgb(91, 91, 255);
}


.actionButton__23182:hover {
    box-shadow: 0 0 100px rgb(91, 91, 255);
}

svg.icon__7215c {
    color: transparent;
}

.iconWrapper_af9215[aria-label="Join Voice Call"],
.iconWrapper_af9215[aria-label="Join Voice Call"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/channel%20header/phone.png);
}

.iconWrapper_af9215[aria-label="Join Video Call"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/webcam.png);
}

div.container_b2ce9c {
    background: url(https://numoder.github.io/dlm7-theme/assets/servers/786.png), linear-gradient(0deg, rgba(213, 225, 245, 1) 54%, rgba(203, 215, 237, 1) 68%, rgba(254, 254, 254, 1) 90%, rgba(254, 254, 254, 1) 90%);
    background-size: 245px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

.members__9f47b {
    background-color: transparent;
}

div.scroller__00e7e {
    background: url(https://numoder.github.io/dlm7-theme/assets/servers/786.png), linear-gradient(0deg, rgba(213, 225, 245, 1) 54%, rgba(254, 254, 254, 1) 80%, rgba(254, 254, 254, 1) 100%);
    background-size: 360px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

[src="/assets/9492f371ccf5db4f0156.mp4"],
video.ready__61f2f {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/loading.gif);
    height: 200px;
    width: 200px;
}

.withFrame-haYltI {
    height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.button_d553e5[aria-label="Add Reaction"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/emojis/happy.gif);
}

div.button_d553e5[aria-label="Reply"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/reply.png);
}

.avatarSpeaking_c95053 {
    border-radius: 0px;
}

.avatarSpeaking_c95053 {
    border-radius: 0px;
}

.button_afdfd9[aria-label="Invite"] svg {
    background: url(https://numoder.github.io/dlm7-theme/assets/general/Invite%20Friends.png);
    color: transparent;
    background-size: contain;
}

.actionButton__23182[aria-label="Message"] svg {
    background: url(https://numoder.github.io/dlm7-theme/assets/general/chat.png);
    background-size: contain;
}

.button_afdfd9[aria-label="Show Chat"] svg {
    background: url(https://numoder.github.io/dlm7-theme/assets/general/chat.png);
    background-size: contain;
    color: transparent;
}

.rtcConnectionStatus__40882 .ping__47992 path {
    font-family: var(--font-headline);
    display: none;
}

.sidebar_ded4b5 .panels__58331 .container_d667ff .rtcConnectionStatus__40882 .ping__47992 {
    background-image: url(https://numoder.github.io/dlm7-theme/assets/general/connection.png);
    background-size: contain;
}

.sidebar_ded4b5 .panels__58331 .container_d667ff .rtcConnectionStatus__40882 .rtcConnectionStatusLabel__7029b .contents_fb6220 {
    color: black;
    font-size: 12px;
}

.ping__47992 svg {
    content: none;
}

.sidebar_ded4b5 .panels__58331 .container_d667ff .rtcConnectionStatus__40882 .ping__47992 path {
    display: none;
}

.iconItem__8e3b8[aria-label="Edit Channel"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/Settings.png);
    width: 15px;
}

.icon__46425[aria-label="Clear search"],
.icon__37cc1 .visible__50aa8[aria-label="Search"] {
    content: url(https://numoder.github.io/dlm7-theme/assets/general/search.png);
}