/* icons.css */

.toolbar_e44302 .clickable_e44302 .icon_e44302,
.sendIcon_a06035 {
  color: transparent;
}

.icon_e44302 path[fill="var(--interactive-normal)"] {
  fill: none !important;
}

/* pin */
[aria-label="Pinned Messages"] > svg,
svg:has(
    [d="M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11l.38.38ZM9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z"]
  ) {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/pin.png);
  background-size: cover;
  color: transparent !important ;
}

/* inbox */
.recentsIcon_ea0547 svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/email.png);
  background-size: cover;
}

.recentsIcon_ea0547 .selected_e44302 svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/email2.png);
  background-size: cover;
}

[aria-label="New Group DM"] svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/group.png) !important;
  background-size: cover;
}

.inviteToolbar_c2739c > div {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/group.png);
  background-size: contain;
}

/* add contact*/
[aria-label="Add Friends to DM"] > svg,
svg:has([d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM16.62 13.17c-.22.29-.65.37-.92.14-.34-.3-.7-.57-1.09-.82-.52-.33-.7-1.05-.47-1.63.11-.27.2-.57.26-.87.11-.54.55-1 1.1-.92 1.6.2 3.04.92 4.15 1.98.3.27-.25.95-.65.95a3 3 0 0 0-2.38 1.17ZM15.19 15.61c.13.16.02.39-.19.39a3 3 0 0 0-1.52 5.59c.2.12.26.41.02.41h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5a7.5 7.5 0 0 1 13.19-4.89ZM9.5 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM15.5 22Z"]) {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/addacontact.png);
  background-size: cover;
}

a[href="https://support.discord.com"] svg
{
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/help.png);
  order: 2;
  background-size: cover;
}

[aria-label="Join Voice Call"] svg,
[aria-label="Start Voice Call"] svg,
svg:has([fill="currentColor"][d="M2 7.4A5.4 5.4 0 0 1 7.4 2c.36 0 .7.22.83.55l1.93 4.64a1 1 0 0 1-.43 1.25L7 10a8.52 8.52 0 0 0 7 7l1.12-2.24a1 1 0 0 1 1.19-.51l5.06 1.56c.38.11.63.46.63.85C22 19.6 19.6 22 16.66 22h-.37C8.39 22 2 15.6 2 7.71V7.4ZM13 3a1 1 0 0 1 1-1 8 8 0 0 1 8 8 1 1 0 1 1-2 0 6 6 0 0 0-6-6 1 1 0 0 1-1-1Z"]) {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/phone.png);
  background-size: cover;
}

[aria-label="Join Video Call"] svg,
[aria-label="Start Video Call"] svg,
svg:has([d="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3 3 0 0 0 3-3v-2.12a1 1 0 0 0 .55.9l3 1.5a1 1 0 0 0 1.45-.9V7.62a1 1 0 0 0-1.45-.9l-3 1.5a1 1 0 0 0-.55.9V7a3 3 0 0 0-3-3H4Z"]) {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/webcam.png);
  background-size: cover;
}

[aria-label="Join Voice Call"] svg,
[aria-label="Join Video Call"] svg {
  filter: sepia(1) hue-rotate(90deg) saturate(3);
}

[aria-label="Notification Settings"] svg,
svg:has(
    [d="M9.7 2.89c.18-.07.32-.24.37-.43a2 2 0 0 1 3.86 0c.05.2.19.36.38.43A7 7 0 0 1 19 9.5v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 0 1 .77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-4.05 0-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3 3 0 0 1 .77-2l1.1-1.23a.5.5 0 0 0 .13-.33V9.5a7 7 0 0 1 4.7-6.61ZM9.18 19.84A.16.16 0 0 0 9 20a3 3 0 1 0 6 0c0-.1-.09-.17-.18-.16a24.86 24.86 0 0 1-5.64 0Z"]
  ) {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/bell.png);
  background-size: cover;
}

[aria-label="Show User Profile"] svg,
[aria-label="Hide User Profile"] svg,
.iconWrapper_e44302:has(.clickable_e44302) svg:has([d="M23 12.38c-.02.38-.45.58-.78.4a6.97 6.97 0 0 0-6.27-.08.54.54 0 0 1-.44 0 8.97 8.97 0 0 0-11.16 3.55c-.1.15-.1.35 0 .5.37.58.8 1.13 1.28 1.61.24.24.64.15.8-.15.19-.38.39-.73.58-1.02.14-.21.43-.1.4.15l-.19 1.96c-.02.19.07.37.23.47A8.96 8.96 0 0 0 12 21a.4.4 0 0 1 .38.27c.1.33.25.65.4.95.18.34-.02.76-.4.77L12 23a11 11 0 1 1 11-10.62ZM15.5 7.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"]) {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/userprofile.png);
  background-size: cover;
  color: transparent;
}
[aria-label="Show User Profile (Unavailable)"] svg,
.iconWrapper_e44302:not(.clickable_e44302) svg:has([d="M23 12.38c-.02.38-.45.58-.78.4a6.97 6.97 0 0 0-6.27-.08.54.54 0 0 1-.44 0 8.97 8.97 0 0 0-11.16 3.55c-.1.15-.1.35 0 .5.37.58.8 1.13 1.28 1.61.24.24.64.15.8-.15.19-.38.39-.73.58-1.02.14-.21.43-.1.4.15l-.19 1.96c-.02.19.07.37.23.47A8.96 8.96 0 0 0 12 21a.4.4 0 0 1 .38.27c.1.33.25.65.4.95.18.34-.02.76-.4.77L12 23a11 11 0 1 1 11-10.62ZM15.5 7.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"])  {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/userprofile2.png);
  background-size: cover;
  color: transparent;
}

svg:has(
    [d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM18.44 17.27c.15.43.54.73 1 .73h1.06c.83 0 1.5-.67 1.5-1.5a7.5 7.5 0 0 0-6.5-7.43c-.55-.08-.99.38-1.1.92-.06.3-.15.6-.26.87-.23.58-.05 1.3.47 1.63a9.53 9.53 0 0 1 3.83 4.78ZM12.5 9a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z"]
  ),
[aria-label="Hide Member List"] svg,
[aria-label="Show Member List"] svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/memberlist.png);
  background-size: cover;
}

[aria-label="Hide Member List"] svg {
  filter: grayscale(0.25);
}

.iconWrapper_e44302:has(
    [d="M4 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm10-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm8 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"]
  ),
.actionButton_e01b91[aria-label="More"] svg {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/more.png);
  background-size: contain;
  color: transparent;
}

/* threads / chat */
.actions_e05dae .actionButton_e01b91:first-child svg,
svg:has(
    [d="M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8ZM12 21.2a1 1 0 0 1 0 1.41l-.35.35a1 1 0 0 1-1.41 0l-9.2-9.19a1 1 0 0 1 0-1.41l.7-.7a1 1 0 0 1 1.3-.12l9.54 6.72a1 1 0 0 1 .07 1.58l-1 1 .35.36ZM15.66 16.8a1 1 0 0 1-1.38.28l-8.49-5.66A1 1 0 1 1 6.9 9.76l8.49 5.65a1 1 0 0 1 .27 1.39ZM17.1 14.25a1 1 0 1 0 1.11-1.66L9.73 6.93a1 1 0 0 0-1.11 1.66l8.49 5.66Z"]
  ) {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/chat.png);
  background-size: cover;
  color: transparent;
}

.toolbar_e44302
  svg:has(
    [d="M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8ZM12 21.2a1 1 0 0 1 0 1.41l-.35.35a1 1 0 0 1-1.41 0l-9.2-9.19a1 1 0 0 1 0-1.41l.7-.7a1 1 0 0 1 1.3-.12l9.54 6.72a1 1 0 0 1 .07 1.58l-1 1 .35.36ZM15.66 16.8a1 1 0 0 1-1.38.28l-8.49-5.66A1 1 0 1 1 6.9 9.76l8.49 5.65a1 1 0 0 1 .27 1.39ZM17.1 14.25a1 1 0 1 0 1.11-1.66L9.73 6.93a1 1 0 0 0-1.11 1.66l8.49 5.66Z"]
  ) {
  filter: hue-rotate(190deg);
}

.inner_d0696b .buttons_d0696b > div,
.inner_d0696b .buttons_d0696b > button {
  margin: 0px 3px;
}

.invisible-typing-button svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/textarea/keyboard.png);
  position: relative;
  background-size: contain;
  color: transparent;
}

.disabled-stroke-through {
  width: 800px;
  height: 30px;
}

button:has(
    [d=" M-7,-10 C-8.656999588012695,-10 -10,-8.656999588012695 -10,-7 C-10,-7 -10,7 -10,7 C-10,8.656999588012695 -8.656999588012695,10 -7,10 C-7,10 7,10 7,10 C8.656999588012695,10 10,8.656999588012695 10,7 C10,7 10,-7 10,-7 C10,-8.656999588012695 8.656999588012695,-10 7,-10 C7,-10 -7,-10 -7,-10z"]
  ),
button:has([clip-path="url(#__lottie_element_2431)"]) {
  content: url(https://numoder.github.io/dsn10-theme/assets/textarea/gif.png);
  width: 24px;
  height: 24px;
  transition: 0.2s;
}

.gifTag_b30195 {
  background-image: url(https://numoder.github.io/dsn10-theme/assets/textarea/gif.png);
  background-size: contain;
  width: 24px;
  height: 24px;
}

button:has(
    [d=" M-7,-10 C-8.656999588012695,-10 -10,-8.656999588012695 -10,-7 C-10,-7 -10,7 -10,7 C-10,8.656999588012695 -8.656999588012695,10 -7,10 C-7,10 7,10 7,10 C8.656999588012695,10 10,8.656999588012695 10,7 C10,7 10,-7 10,-7 C10,-8.656999588012695 8.656999588012695,-10 7,-10 C7,-10 -7,-10 -7,-10z"]
  ):hover {
  filter: saturate(5);
  transition: 0.2s;
}

.stickerButton_d0696b {
  content: url(https://numoder.github.io/dsn10-theme/assets/textarea/sticker.png);
  width: 24px;
  height: 24px;
}

.stickerButton_d0696b:hover {
  filter: contrast(2);
}

div.buttons_d0696b > .button_dd4f85 > div {
  content: url(https://numoder.github.io/dsn10-theme/assets/textarea/gift.png);
  background: transparent;
  border-radius: 50px;
  margin-right: 10px;
}

button:has(.spriteContainer_af14ca) {
  content: url(https://numoder.github.io/dsn10-theme/assets/emojis/happy.gif);
  background: transparent;
  border-radius: 50px;
  margin-right: 10px;
  width: 27px;
}

button:has(.spriteContainer_af14ca):hover {
  content: url(https://numoder.github.io/dsn10-theme/assets/emojis/wink.gif);
}

/* message to: bar */
.subtitleContainer_a7d72e > section > .upperContainer_e44302 {
  flex-direction: column-reverse;
  min-height: 57px;
}

div:has(.membersWrap_cbd271) .children_e44302 {
  overflow: visible !important;
  margin-right: 255px !important;
}

div:not(:has(.membersWrap_cbd271)) .children_e44302 {
  overflow: hidden !important;
  margin-right: 16px !important;
}

.children_e44302 .tabBar_c2739c {
  background-color: var(--friends-button-background);
  border: var(--friends-button-background-border) 1px solid;
  border-radius: 6px;
  margin: 6px;
  padding: 0px 6px;
}

.children_e44302:has(.item_c2739c) {
  overflow: visible !important;
  margin-right: none !important;
}

.children_e44302 .topic_bf3bbb {
  margin-right: 20px !important;
}

.chat_a7d72e:not(:has(.callContainer_d880dc))
  .upperContainer_e44302
  .children_e44302 {
  top: 38px;
  left: 6px;
}

.theme-dark .children_e44302 .input_f8b740 {
  color: white;
}

.container_d1c246.floating_d1c246 .upperContainer_e44302 .children_e44302 {
  position: relative !important;
  top: 51px !important;
}

.upperContainer_e44302 .children_e44302:not(:has(.tabBar_c2739c)):before,
.upperContainer_e44302 .children_e44302:has(.avatar_a7d72e):before {
  content: "To:";
}

.videoControls_dd069c .children_e44302:not(:has(.tabBar_c2739c)):before,
.videoControls_dd069c .children_e44302:has(.avatar_a7d72e):before {
  content: "Calling:" !important;
}

.callContainer_d880dc,
.wrapper_d880dc.minimum_d880dc {
  background: transparent;
}

.theme-dark .videoControls_dd069c .children_e44302 .titleWrapper_e44302 h1 {
  color: white !important;
}

.theme-light .videoControls_dd069c .children_e44302 {
  font-family: var(--font-primary) !important;
  color: var(--text-primary);
}

.tooltipContent_b6c360 {
  color: var(--tooltip-border);
}

.tooltip_b6c360 {
  background: var(--tooltip-background) !important;
  border: 1px solid var(--tooltip-border);
  border-radius: 0px;
}

.tooltipContent_b6c360 {
  padding: 2px;
}

.tooltipPointer_b6c360 {
  visibility: hidden;
}

.input_f8b740 {
  --text-normal: #222;
}

.videoControls_dd069c .children_e44302 h1 {
  color: black !important;
}

/* profile */
.avatar_ccc074 {
  mask: none;
  margin-left: 1px;
}

.userPanelInnerThemed_c69a7b,
.userPanelInnerThemed_c69a7b::before {
  background: transparent !important;
}

.userPanelOuter_c69a7b.userProfileOuterThemed_c69a7b.profileColors_ac6ab4 {
  background: transparent;
}

.akaBadge__27cd4 {
  background: var(--server-notification);
  border-radius: 2px;
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-weight: bold !important;
  position: relative;
  border: 1px solid gray;
  box-shadow: 0px 0px 2px 0.75px #ffffff, inset 0px 0px 2px 1px #ffffff80;
}

div.children_e44302 > .divider_e44302 {
  margin: 0px !important;
}

.divider_d5deea .content_fc5f50 {
  font-family: "Trebuchet MS" !important;
  font-weight: bold !important;
  background: var(--server-notification);
  border-radius: 2px;
  color: var(--text-primary);
  box-shadow: 0px 0px 1px 0px #ffffff, inset 0px 0px 0px 1px #ffffff80;
}

.theme-light .akaBadge__27cd4 {
  color: #fff;
}

.akaBadge__27cd4:hover {
  background: var(--server-notification-hover);
}

.akaBadge__27cd4:active {
  background: var(--server-notification-active);
}

.container_fd6364.clickable_fd6364:has(
    :not(.hasBanner_fd6364.bannerVisible_fd6364)
  ),
.searchBar_f0963d {
  background: var(--dmbarsearchleft), var(--dmmainbarmiddle);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 350px 58px;
  background-position: left 3px, left 3px;
  border-radius: 0 0 0 10px;
}

.animatedContainer_fd6364{
  z-index: 2;
  margin-top: 69px;
  margin-left: 2px;
}

.bannerImg_fd6364 {
  margin: -6px;
}

.container_fd6364:hover {
  box-shadow: var(--sidebar-header-hover);
  transition: 0.2s;
}

.container_c2739c > .container_e44302.themed_e44302 {
  background: var(--dmmainbarmiddle), var(--dmbarsearchleft);
  background-repeat: repeat-x, no-repeat;
  background-color: transparent;
  background-position: 5px, right 3px;
}

.chat_a7d72e {
  background: var(--dmmainbarright), var(--dmbarsearchmiddle);
  background-repeat: no-repeat, repeat-x;
  background-color: transparent;
  background-size: auto, auto;
  background-position: top 3px right 0px, left 3px;
}

.videoControls_dd069c .headerWrapper_d880dc {
  background: var(--dmmainbarright), var(--dmbarsearchmiddle);
  background-repeat: no-repeat, repeat-x;
  background-color: transparent;
  background-size: auto, auto;
  background-position: top 2px right 0px, left 2px;
}

.chat_a7d72e {
  padding-top: 1px;
}

/* .subtitleContainer_a7d72e {
  background-image: var(--dmmainbarmiddle), var(--dmbarsearchbarright), var(--dmbarsearchmiddle), var(--searchbarbg);
  background-repeat: no-repeat,no-repeat;
  background-color: transparent;
  background-size: 300px 58px, 57px auto, 200px 26px, 35px 26px;
  background-position: top 3px left, 300px 3px, 300px 24px, 500px 24px;
  z-index: 4 !important;
} */

/* toolbar  */
.content_a4d4d9:has(.sidebar_a4d4d9) .topControls_dd069c .children_e44302 {
  top: -1px;
}

.content_a4d4d9:has(.privateChannels_f0963d)
  .topControls_dd069c
  .children_e44302 {
  left: 535px;
}

.topControls_dd069c .children_e44302 > .iconWrapper_e44302,
.topControls_dd069c .children_e44302 > .iconWrapper_e44302,
.toolbar_e44302 > [role="button"],
.chat_a7d72e .toolbar_e44302 > .recentsIcon_ea0547,
.chat_a7d72e .toolbar_e44302 > .anchor_af404b {
  background: var(--dmmainbarmiddle) !important;
  background-size: 300px 58px !important;
  min-width: max-content;
  min-height: 58px;
  padding: 20px 10px;
}

.noChat_d880dc
  .videoControls_dd069c
  .children_e44302:not(:has(.tabBar_c2739c)):before {
  background: var(--dmmainbarmiddle) !important;
  background-size: 300px 58px !important;
  padding: 19px 0;
}

html:not(.keyboard-mode) .root_dd069c.idle_dd069c .topControls_dd069c {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
}

html .root_dd069c .topControls_dd069c {
  transform: translateY(0px) !important;
}

.topControls_dd069c {
  top: 1px;
}

.upperContainer_e44302:has(.addFriend_c2739c)
  .toolbar_e44302
  > .recentsIcon_ea0547,
.upperContainer_e44302:has(.addFriend_c2739c) .toolbar_e44302 > .anchor_af404b {
  padding: 0.7rem;
}

.recentsIcon_ea0547,
.anchor_af404b {
  max-height: 58px;
}

.topControls_dd069c
  .children_e44302
  > .iconWrapper_e44302:has(
    [d="M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z"]
  ) {
  background: var(--dmbarsearchbarright) !important;
  background-position: left;
  background-size: 57px 58px;
  background-repeat: no-repeat !important;
  min-width: 46 px;
}
.topControls_dd069c
  .children_e44302
  > .iconWrapper_e44302:has(
    [d="M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z"]
  )
  svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/actions/volume.png);
  background-size: cover;
  color: transparent;
}

.chatButtonSpacer_ae6b8e {
  visibility: visible !important;
}

.search_ff5f90 {
  background: var(--dmbarsearchbarright), var(--dmsearchbar-repeat),
    var(--searchbarbg);
  background-position: left, 0px 21px, 196px 21px;
  background-repeat: no-repeat;
  background-size: auto, 196px 26px, 35px 26px;
  order: 2;
  min-height: 58px;
  padding: 23px 45px;
  margin: 0px;
}

.iconWrapper_e44302 {
  margin: 0px !important;
}

.searchBar_f0963d,
.header_fd6364,
.toolbar_e44302 {
  height: 61px;
}

.topControls_dd069c .toolbar_e44302 {
  position: relative;
  top: 0px;
}

.container_e44302 {
  height: 64px;
  padding: 0px;
}

.headerContent_fd6364 {
  position: relative;
  top: 6px;
}

.toolbar_e44302 {
  margin-bottom: -36px;
}

.open_a46bef .searchBar_a46bef,
.focused_a46bef .searchBar_a46bef {
  width: 144px;
}

.search_ff5f90,
.searchBar_a46bef {
  height: 23px;
}

.searchBar_a46bef {
  position: relative;
  top: -1px !important;
  border-radius: 0px;
  background: transparent;
}

.searchBar_a46bef .icon_a46bef,
.inner__999f6 .iconLayout__67261 svg {
  background: url(https://leafinguh.github.io/msn7-disc/raw/topbar/search.png);
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.inner__999f6 > div,
.inner__999f6 > input {
  position: relative;
  top: -1px;
}

.searchBar_a46bef .icon_effbe2,
.clear_effbe2.iconLayout_effbe2:hover .icon_effbe2 {
  color: transparent;
}

.searchBar_a46bef .icon_a46bef:hover {
  background: url(https://numoder.github.io/dsn10-theme/assets/general/delete.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  color: transparent !important;
}

.member_a31c43[user="numoder"],
.member_a31c43:has(
    [aria-label="numoder, Online"],
    [aria-label="numoder, Idle"],
    [aria-label="numoder, Do Not Disturb"]
  ) {
  background-image: URL(https://i.ibb.co/V3FmySL/tumblr-3bce6649fd69d61e10bd2c7cc5653769-9e14d317-200.gif);
  box-shadow: inset 0px 0px 0px 1px hotpink, inset 0px 0px 0px 2px #ff69b48a,
    inset 0px 0px 0px 3px rgba(81, 255, 0, 1);
}

.member_a31c43[user="numoder"] .nameAndDecorators_e9f61e:after,
.member_a31c43[aria-label="numoder, Online"] .nameAndDecorators_e9f61e:after,
.member_a31c43[aria-label="numoder, Idle"] .nameAndDecorators_e9f61e:after,
.member_a31c43[aria-label="numoder, Do Not Disturb"].nameAndDecorators_e9f61e:after {
  background: silver;
  content: ":3";
  color: rgb(255, 255, 255);
  margin-left: 6px;
  padding: 4px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

[src="/assets/9bcd2aba4eefb34114f8.svg"] {
  visibility: hidden;
}

.searchHeader_a3a4ce {
  background: url(http://www.betaarchive.com/imageupload/1304990899.th.90622.png);
  width: 831px;
  height: 260px;
  background-size: cover;
  image-rendering: pixelated;
}
