/* friends list */

.peopleListItem_d14722,
.peopleListItem_d14722:hover,
.peopleListItem_d14722:active,
.peopleListItem_d14722.active__6b8ff {
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  border-top: none;
}

.peopleListItem_d14722:focus {
  outline: 1px dotted var(--text-primary);
  outline-offset: -4px;
}

.peopleColumn__51df3 > .searchBar_ff8800 {
  background-color: #ecf0f5;
  border-top: 1px solid #d6dcf2;
  padding: 20px;
  margin: 0px;
  order: 3;
}

.searchBar_ff8800 > div.inner__999f6 {
  background: white;
  border: 1px solid #8396c3;
}

.actionButton__23182.highlight__5b64b {
  background-color: transparent;
}

.peopleListItem_d14722:hover,
.peopleListItem_d14722:hover > .actions_c08157,
.actions_c08157 > div:hover,
.messageRequestItem__3b951:hover {
  background-color: hsla(217, 100%, 50%, 0.125);
  box-shadow: inset 1px 1px 0px 0px rgba(79, 107, 160, 0.5),
    inset -1px -1px 0px 0px rgba(174, 186, 223, 0.5);
  border-radius: 0;
}

.peopleListItem_d14722:active,
.peopleListItem_d14722:active > .actions_c08157,
.actions_c08157 > div:active,
.messageRequestItem__3b951:active {
  background-color: hsla(217, 100%, 71%, 0.125);
  box-shadow: inset -1px -1px 0px 0px rgba(79, 107, 160, 1),
    inset 1px 1px 0px 0px rgba(174, 186, 223, 1);
  border-radius: 0;
}

.listItemContents__7c940 {
  margin-left: 15px;
}

.actions_c08157 {
  margin-right: 15px;
}

.colorWarning__216d2 {
  border-radius: 0;
  border: 1px solid white;
  font-family: var(--font-small) !important;
  font-size: var(--font-small-size) !important;
  background: linear-gradient(
    0deg,
    rgba(255, 219, 173, 1) 3%,
    rgba(246, 185, 0, 1) 50%,
    rgba(255, 209, 15, 1) 50%,
    rgba(255, 251, 193, 1) 100%
  );
  padding: 5px;
}

/* light explorer */

/* dark explorer */

.linkBottom_bac113 > div,
.statusDiv_a4cf67 > div,
.optionName__81070,
span.tipSubtext_d3460f,
.messageContent__21e69,
.repliedTextPreview__90311 {
  font-family: var(--font-small);
  font-size: var(--font-small-size);
}

.activityText__47ec1 > strong {
  font-family: var(--font-code);
  font-size: 12px !important;
}

.theme-light .tabBody_b3d268 {
  background: linear-gradient(180deg, #fcfcfe, #f4f3ee);
  padding: 0px;
  border: 1px solid #919b9c;
}

.root_a28985 .tabBarContainer__63f55{
  background: inherit;
}
