/* light server list */
.theme-light .scroller_f0f183 {
  z-index: 1;
  padding-right: 8px;
  border-right: 1px solid #80808073;
  border-radius: 0px 0 0 0;
}

.theme-light .container__590e2 {
  /* background: linear-gradient(
    to right,
    #5868a8,
    #6878b8,
    #6878b8,
    #667dbc,
    #859bdc,
    #8898d8
  ); */
}

div.animatedContainer__341f6 > .bannerImage__39c51 {
  margin-bottom: 20px !important;
}

.banner__6d414.panelBanner__90b8a.bannerPremium__42693,
.banner__6d414.profileBanner__8414b {
  background-image: url(https://cdn.discordapp.com/attachments/1179087942552133685/1206294240666062938/Untitled-1.png?ex=65db7c0e&is=65c9070e&hm=5fc95aad94a64cb132ebbe5a416584a997bbe752a762b0030aff448ce9ed7e6d&);
}

/* server pics */
.scroller__3d071 {
  background: linear-gradient(to top, #5767b3, #fbfbff) !important;
  padding-top: 48px !important;
}

.theme-light .scroller__4b984,
.theme-light .container__590e2 {
  background: linear-gradient(
      0deg,
      rgba(95, 108, 161, 0.9) 0%,
      rgba(84, 95, 151, 0.9) 33%,
      rgba(107, 125, 197, 0.9) 66%,
      rgba(115, 133, 215, 0.9) 100%
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

.channel_c21703.container__8759a {
  z-index: 2;
  /* box-shadow: inset 0 -1px #799acdd8, inset 0 -2px #0000006f; */
  border-radius: 0px;
  border: 1px solid;
}

.theme-light .channel_c21703.container__8759a {
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(118, 162, 214, 1) 35%,
      rgba(118, 162, 214, 1) 40%,
      rgba(118, 162, 214, 1) 65%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-image-width: 0px 0px 1px 0px;
}
.theme-dark .channel_c21703.container__8759a {
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      #6875ac 35%,
      #6875ac 40%,
      #6875ac 65%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-image-width: 0px 0px 1px 0px;
}

.theme-light
  .content__23cab[aria-label="Direct Messages"]
  > .channel_c21703
  > .interactive__776ee {
  border: 1px solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(53, 57, 110, 1) 25%,
      rgba(53, 57, 110, 1) 40%,
      rgba(53, 57, 110, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-image-width: 0px 0px 1px 0px;
  margin-bottom: -1px;
}

.theme-dark
  .content__23cab[aria-label="Direct Messages"]
  > .channel_c21703
  > .interactive__776ee {
  border: 1px solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      #4d4c84 25%,
      #4d4c84 40%,
      #4d4c84 75%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-image-width: 0px 0px 1px 0px;
  margin-bottom: -1px;
}

.name__02dbd > .overflow__87fe8 {
  padding: 1px 0px 1px;
  font-family: var(--font-code);
  font-size: 16px;
  letter-spacing: -1.25px;
}

.privateChannelsHeaderContainer_ddcec6,
.privateChannelsHeaderContainer_ddcec6:hover {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 75%
  );
  border-bottom: 1px solid white;
  text-transform: none;
  font-weight: normal;
  font-family: var(--font-code);
  font-size: 16px;
  letter-spacing: -1.25px;
  color: white;
}

.thin_b1c063,
.theme-light .scroller__4b984 {
  color: transparent !important;
}

.content_f767b8 {
  text-align: start;
  white-space: wrap;
  overflow: hidden;
  flex: 1 1 auto;
}

.layout__59abc,
.interactive__776ee.interactive_a868bc {
  flex-direction: row-reverse;
  flex: 1 1 auto;
}

.spotifySection__1d573 > div > .defaultColor__37d78,
.text-sm-normal_e612c7,
.content__72fdc {
  overflow: hidden;
  /* white-space: nowrap; */
  font-family: var(--font-small);
  font-size: var(--font-small-size) !important;
  font-weight: normal;
}

.spotifySection__1d573 > .activitySectionAssets_ea2444 > .largeImage_f4707b {
  content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1204648165362503780/Audio_CD-small.png?ex=65deb987&is=65cc4487&hm=e15185f755d8184b6d2b1be73d4817ca2546d7e6bfc7355f62f1994b429e5532&);
}

[src="/assets/603007783abe09a10ae5.svg"] {
  content: url(https://static.wikia.nocookie.net/logopedia/images/8/84/Skype_2004.svg);
  height: fit-content;
}

.xboxSectionIcon__34457 {
  background-image: url(https://cdn.discordapp.com/attachments/1179087942552133685/1205694731708010546/3a00f5cdee3c1c6053e7b45e1a50fc9e.png?ex=65d94db8&is=65c6d8b8&hm=b1a772306cfab142bd182e9a6f2919aa6f61f0cc8abc631030b859b44ca9e2ce&);
  background-size: contain;
  background-repeat: no-repeat;
}

[src="/assets/9a15d086141be29d9fcd.png"],
[src="/assets/fe9652309ef98c6f358e.svg"],
[src="/assets/496af98033e8f20540ec.svg"] {
  content: url(https://cdn.discordapp.com/attachments/1179087942552133685/1205694731708010546/3a00f5cdee3c1c6053e7b45e1a50fc9e.png?ex=65d94db8&is=65c6d8b8&hm=b1a772306cfab142bd182e9a6f2919aa6f61f0cc8abc631030b859b44ca9e2ce&);
}

[src="/assets/75577d21ad1497348a3c.svg"] {
  content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1207124524781543515/Epic-Games-Logo-1995-small-small.png?ex=65de8151&is=65cc0c51&hm=8eb71ade23ea19b794002b321c30a7b7f0de6557635bb21f19a071a6cbe56b2c&);
}

[src="/assets/cc52988849f86e1c85f5.svg"],
[src="/assets/57a3fe2c0e62e98937fd.svg"],
[src="/assets/f47485602365c946fa52.svg"] {
  content: url(https://static.wikia.nocookie.net/logopedia/images/7/7a/Twitter_T_logo.svg);
  width: fit-content;
}

[src="/assets/d8deaf4c4cbec4b8f9d6.svg"] {
  content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1207040113612431441/favicon.png?ex=65de32b4&is=65cbbdb4&hm=417ec2dea9b484d01bf29e42b5d5c19c925b1e2ae8e83b97b425a1b93c8d1f5b&);
}

[src="/assets/1b0b60300e4f234337be.svg"],
[src="/assets/75577d21ad1497348a3c.svg"] {
  content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1207123765167788052/PlayStation_Network_2008_Stacked.png?ex=65de809c&is=65cc0b9c&hm=b42fb8dca2891856719ca055019505676cd83509d77dfddecef45abe3526cbc0&);
}

[src="/assets/1b0b60300e4f234337be.svg"] {
  height: 24px;
}

[src="/assets/f22d0f157e5b64710577.svg"] {
  content: url(https://1000logos.net/wp-content/uploads/2020/09/Epic-Games-Logo-1995.png);
  height: fit-content;
}

[src="/assets/d46756f782e19355e483.svg"],
[src="/assets/100f3a82bf746402d6ac.svg"] {
  content: url(https://static.wikia.nocookie.net/logopedia/images/9/9f/SteamOldIcon.png);
}

[src="/assets/27b152e2ddb3acb76a92.svg"] {
  content: url(https://static.wikia.nocookie.net/logopedia/images/2/2c/Battlenet.png);
  height: fit-content;
}

[src="/assets/7231645d01e0b14f58cc.svg"] {
  content: url(https://media.discordapp.net/attachments/1180332254615052288/1207038452944867418/Spotify_2008_Icon.png?ex=65de3128&is=65cbbc28&hm=312d1d649ce64c4344f0a43baf77f02f904b5060c54ea1c2fa94b96bd26f6f08&=&format=webp&quality=lossless);
  width: 24px;
}

.xboxSectionIcon__34457 {
  color: transparent !important;
}

.section_efc22d > div {
  padding-left: 12px;
}

.activitySection_b322be > div > div,
.statusDiv_a4cf67 .statusText_e0f90b {
  font-family: var(--font-small);
  font-size: var(--font-small-size);
}

.theme-light .link__2e8e1 {
  color: white;
}

/* NEW SERVER LIST */

/* server channel background */

/* dark friends list */

.theme-dark .scroller__4b984 {
  background: linear-gradient(
      0deg,
      #66619af2 0%,
      rgba(90, 89, 146, 0.9) 30%,
      rgba(96, 95, 152, 0.8) 60%,
      rgba(118, 112, 199, 0.8) 100%
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

.theme-dark .container_ca50b9,
.theme-dark .container_d667ff {
  background: linear-gradient(
    0deg,
    #66619af2 0%,
    rgba(90, 89, 146) 30%,
    rgba(96, 95, 152) 60%,
    rgba(118, 112, 199) 100%
  );
  box-shadow: inset 0px 1px 1.5px 0px rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(116, 135, 209);
}

.theme-dark .container_d667ff {
  background: linear-gradient(
    0deg,
    #66619af2 0%,
    rgba(90, 89, 146) 30%,
    rgba(96, 95, 152) 60%,
    rgba(118, 112, 199) 100%
  );
}

.theme-dark .button__66e8c.buttonColor_a6eb73:hover {
  background-color: #66619a;
}

/* .channel_c21703.container__8759a[aria-posinset="1"]::before{
  content: url(https://cdn.discordapp.com/attachments/1189324560168923228/1191983262386638908/windy_big.png?ex=65a76beb&is=6594f6eb&hm=03edd3f06eb829bf7bc74dfe947fc3a27d22f1b5d0a0484277f3fb64646b9d64&);
  display: flex;
  padding: 10px;
} */

.theme-dark .scroller__4b984,
.theme-dark .container_ca50b9,
.theme-dark .container_d667ff {
  border-left: 1px solid #1c146f;
  border-right: 1px solid #1c146f;
  border-radius: 0px 0 0 0;
}

.theme-dark.channel_c21703.container__8759a {
  z-index: 2;
  border-radius: 0px;
}

.scroller__4b984 > .content__23cab:last-child::after {
  content: url(https://cdn.discordapp.com/attachments/1179087942552133685/1211702844642693181/Untitled-23.png?ex=65ef2936&is=65dcb436&hm=144301adb91f0b68ebb8fe6d1a38926f9c1e3789570483be6bef1ddf1163b360&);
}

.scroller__4b984 > ul > li {
  /* mask: linear-gradient(
    to right,
    #ffffff00,
    #000000ab,
    #000000e2,
    #000,
    #000000e2,
    #000000ab,
    #0000
  );
  -webkit-mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 7.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  ); */
  background: transparent !important;
}

.layout__59abc.highlighted__7bba7 > .content_f767b8 {
  color: white;
}
.theme-dark .name__02dbd {
  color: white;
}

div.name__02dbd {
  letter-spacing: -1.2px;
}

.content_f767b8 > div {
  font-family: var(--font-code);
  font-weight: 400;
  margin-left: 4px;
}

.interactive__776ee:hover,
.interactive__776ee:hover > .link__2e8e1 > .layout__59abc {
  background: linear-gradient(
    97deg,
    rgba(116, 135, 209, 0) 0%,
    rgba(124, 148, 222, 1) 50%,
    rgba(95, 109, 163, 0) 100%
  );
  color: yellow !important;
}
.interactive__776ee:not(.linkButton_ebd2ba):hover,
.interactive__776ee:not(.linkButton_ebd2ba):hover
  > .link__2e8e1
  > .layout__59abc {
  padding-left: 0px;
}

.interactive__776ee:active,
.interactive__776ee:active > .link__2e8e1 > .layout__59abc {
  background: linear-gradient(
    97deg,
    rgba(116, 135, 209, 0) 0%,
    rgb(148, 174, 255) 50%,
    rgba(95, 109, 163, 0) 100%
  );
  color: yellow !important;
  text-shadow: 1px 1px 0 rgba(255, 252, 205, 0.75);
}

.theme-dark .channel_c21703.container__8759a:active {
  background: linear-gradient(
    97deg,
    rgba(116, 135, 209, 0) 0%,
    rgba(89, 119, 207, 0.798) 50%,
    rgba(95, 109, 163, 0) 100%
  );
  color: yellow !important;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.611),
    inset 0 -2.5prgb (137, 135, 255) 8e;
  border: 0;
}

.interactive__776ee.interactiveSelected_ec846b
  > .link__2e8e1
  > .layout__59abc
  > .content_f767b8
  > .nameAndDecorators_cfd1ff
  > .name__02dbd,
.interactive__776ee.interactiveSelected_ec846b
  > .link__2e8e1
  > .layout__59abc
  > .content_f767b8
  > .subText_ed6eed
  > .subtext__623a0 {
  color: yellow;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}

.interactive__776ee > .link__2e8e1 > .avatarWithText__17e10 > .avatar__7bd22 {
  filter: drop-shadow(1.5px 1.5px 0.5px rgba(0, 0, 0, 0.5));
}
.interactiveSelected_ec846b
  > .link__2e8e1
  > .avatarWithText__17e10
  > .avatar__7bd22 {
  filter: drop-shadow(1.5px 1.5px 0.5px green);
}

.theme-dark div.subText_ed6eed {
  color: rgba(255, 255, 255, 0.8);
}

/* profile / audio / settings */

.theme-light .scroller__3d071 {
  background: linear-gradient(
    to top,
    #5868a8,
    #5868a8,
    #5868a8,
    #5868a8,
    #ffffff
  );
}

/*category in server*/
.theme-light .containerDefault__23a29,
.theme-light li.containerDefault__3187b.wrapper__7bcde > div {
  position: relative;
  padding-top: 3px;
  background: linear-gradient(13deg, #ffffff30, #fbfbfbbf, #fbfbfb);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  box-shadow: inset 1px 1px 1px #6d6d6d;
  margin-left: 7px;
  margin-right: 2px;
  margin-top: 7.5px;
}

.container-q97qHp {
  /* Categories */
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
}

div.modeMuted__0aeea > div > a.link__95dc0 {
  background-color: rgba(205, 205, 205, 0.5) !important;
  /* text-decoration: line-through; */
  color: rgb(0, 0, 0) !important;
}

/* server buttons */
li.containerDefault__3187b > div {
  background: radial-gradient(#fff, white);
  box-shadow: inset 1px 1px 2px grey;
  margin: 2px;
  border-radius: 3px;
  margin-left: 8px;
}

.containerDefault__3187b[role="listitem"]
  > .link__95dc0
  > .content_c6490e
  > .name__8d1ec {
  font-family: "Trebuchet MS";
  text-transform: uppercase;
  font-weight: 700;
}

div.list__02208 {
  background: transparent !important;
  box-shadow: none !important;
}

li.containerDefault__3187b > div:hover {
  background: white;
  box-shadow: inset 1px 1px 1px #0000004d;
}

li.containerDefault__3187b > div:active {
}

/* private channel */
.theme-light
  .containerDefault__3187b
  > div
  > .modeLocked_fcc71a
  > div
  > .link__95dc0 {
  background: linear-gradient(
    0deg,
    rgba(242, 248, 254, 1) 0%,
    rgba(199, 207, 237, 1) 100%
  );
  border: solid 1px #d8deec;
}

.wrapper__7bcde {
  margin-left: 0px;
}

.wrapper_a7e7a8 {
  width: 50px;
  background-color: #63609b;
}

.tree__7a511 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50px;
}

.childWrapper__01b9c {
  background-color: #fff0;
}

.wrapperSimple_a34580 {
  border-radius: 0px;
}

.wrapper_d281dd[aria-label="Direct Messages"] svg {
  display: block;
  width: 0px;
  height: 0px;
}

.wrapper_d281dd[aria-label="Direct Messages"] .childWrapper__01b9c {
  mask: none;
  background: url(https://numoder.github.io/dsn10-theme/assets/servers/butterflystatic.png);
  background-size: 44.4px;
  background-repeat: no-repeat;
  background-position: center;
}

/* animated icon when friends list is active */
.tutorialContainer__890ea
  > .listItem_fa7b36
  > .listItemWrapper__1f93b.selected_ad2d13
  div {
  content: url(https://ucarecdn.com/67ac0119-504d-4bc8-9483-9ac51f586682/);
  background-repeat: no-repeat;
  background-position: center;
}

.selected_d94cf9 {
  background: transparent !important;
}

/* server/friend notification */
.numberBadge__50328.base__92a12,
.unreadBar__6ecda,
.mentionsBar__4b47a {
  background: linear-gradient(45deg, #ff0202, #f3ec00fa);
  padding-right: 0px !important;
  font-family: var(--font-code) !important;
}

.notice_a687ab {
  background: linear-gradient(
    0deg,
    rgba(22, 24, 87, 1) 0%,
    rgba(3, 1, 112, 1) 50%,
    rgba(11, 11, 159, 1) 50%,
    rgba(51, 51, 255, 1) 100%
  );
  /* border: 1px solid white; */
  border-radius: 0;
  height: 50px;
}

.unreadBar__6ecda:hover,
.mentionsBar__4b47a:hover {
  box-shadow: 1px 1px 5px #ffffff4d, inset -1px -1px 3px #0000004d;
  transform: 0.2s;
}

/* server voicecall / videocall icon */
.upperBadge_c7cfb3 {
  z-index: 2;
}

.partyMemberOverflow_d12297 {
  background: var(--accent-color);
  color: white;
}

.iconBadge_fdf33a,
.containerPadding_b3087b > .bar__004d9,
.theme-light .voiceSectionIconWrapper_c50254 {
  background: linear-gradient(45deg, #b302ff, #00bef3fa);
  color: white !important;
}

.theme-light .voiceSectionIcon__76b0f {
  color: white !important;
}

.listItem_fa7b36 {
  position: relative;
  margin: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  border: 0px solid #ababab;
  border-top: 0px solid #a2a2a273;
  border-left: solid 0px #cacaca;
  box-shadow: 0px 0px 0px #5d5d5d;
  border-bottom: 0px solid #424242;
  padding-left: 3px;
  margin-bottom: 0px;
  opacity: 1;
}

.svg_ad7356,
.wrapper__3af0b {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  z-index: 0;
  border: 3px solid #ffffff00;
  left: -3px;
  top: -3px;
}

/* unread mentions indicator on server */
.unreadMentionsIndicatorBottom_fdb943,
.unreadMentionsIndicatorTop_ada847 {
  padding: 8px;
  height: 46px;
  width: 46px;
}

.theme-light .scroller__00e7e {
  background-size: 360px;
}

.members__9f47b {
  background-color: transparent;
}

/*name in voicechanel */
.theme-light .icon__1d60c,
.theme-light .username__73ce9 {
  color: var(--text-primary) !important;
}

.name-28HaxV {
  color: var(--text-primary);
}

.modeSelected__487d6 .link__95dc0 {
  color: inherit;
}

.theme-light .link__95dc0:hover,
.modeSelected__487d6 .link__95dc0 {
  background: linear-gradient(to right, #b5b5b5, #ffffff7f);
  box-shadow: inset 1px 1px 2px grey;
}

.link__95dc0:active {
  background: linear-gradient(to right, #919191, #ffffff90) !important;
}

.unread__48cf4 {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 15px;
  top: 22%;
  left: 5px;
  margin-top: 0px;
  display: none;
}

.isUnread__6f880 {
  border-color: #ffa500;
}
.unreadPill__715fc {
  color: #fff;
  background-color: #ffa500;
}
.unreadPillCapStroke__12c0b,
.divider__8cf56 > span.content_d67847 {
  border: white 1px solid;
  border-radius: 1px;
  color: #ffa500;
  fill: #ffa500;
}

.unreadImportant_c775b3,
.modeUnreadImportant_efb53e > div > a > div > .name__8d1ec {
  color: #020202;
  background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/pin.png);
  text-shadow: 1px 1px 2px rgba(255, 255, 0, 0.25);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  font-weight: 600;
}

.voiceUser__0470a {
  background-color: #f3f3fd;
  border: 1px solid var(--theme-border);
  box-shadow: inset -5px -5px 10px -5px #8297c2, inset 5px 5px 10px -10px white;
  border-radius: 5px;
}

.row__8f131 > .activityIcon_a3c442.rowIcon__2bfb3 {
  background: url(https://numoder.github.io/dsn10-theme/assets/general/volume.png);
  background-size: contain;
  color: transparent;
}

/* server pill */
.item_f9d377 {
  position: fixed;
  display: block;
  width: 5px;
  border-radius: 0%;
  margin-left: 0px;
  background-color: #ff180000;
  height: 6px !important;
  border: 0px solid #780080;
  background: linear-gradient(to bottom left, #259401, #1bff00);
  margin: -17px 0px 18px 44px;
}

/* server pill length */
.wrapper__3670f {
  width: 49px;
  height: 40px;
}

.container-3w7J-x .content-3YMskv {
  position: relative;
  margin-top: 0px;
}

/* server folder */
.expandedFolderBackground__1bec6 {
  left: 4px;
  width: 40px;
  bottom: 10px;
}

.folderIconWrapper__72239 > svg {
  content: url(https://cdn.discordapp.com/attachments/1180332254615052288/1202352019181158511/Folder_Opened-small.png?ex=65cd2493&is=65baaf93&hm=af1e117f1b5a9894218795c3a4717b8e344f8b88a00839e3f43ae73d4586e1d6&);
  height: fit-content;
  width: fit-content;
}

.wrapper_ed1dea > ul {
  display: inline !important;
}

.theme-dark .container__590e2 {
  background-color: #63609b;
}

.theme-dark .wrapper__7bcde .modeLocked_fcc71a {
  background-color: #63609b;
}