/* dlm.theme.css */
/**
 * @name DiscordNetwork10
 * @author numoder
 * @version 0.1.0
 * @description A little throwback to better times.
 * @source https://github.com/numoder/dsn10-theme
*/

@import url('https://numoder.github.io/dsn10-theme/dsn10-general.css');
@import url('https://numoder.github.io/dsn10-theme/dsn10-icons.css');
@import url('https://numoder.github.io/dsn10-theme/dsn10-server.css');
@import url('https://numoder.github.io/dsn10-theme/dsn10--friends.css');
@import url('https://numoder.github.io/dsn10-theme/dsn10-settings.css');

:root {
  /* general */
  --text-primary: #000;
  --accent-color: #0042a5;
  --accent-color-selected: #317df7;
  --background-modifier-selected: transparent;

    /* tooltip */
  --tooltip-background: #ffffe1;
  --tooltip-border: #000;
  --menu-border: #aca899;

  --login-background: url(https://numoder.github.io/dsn10-/assets/src/virtualbox.png) center/cover;
  --voicecall-background: url(https://numoder.github.io/dsn10-/assets/src/WO_SCN07.png) center;

  /* profile */
  --profile-background: #8473c4;
  --profile-font-color: rgb(255, 255, 255);

  --avatar-profile-border-color: black;

  /* fonts */
  --font-primary: "Tahoma";
  --font-display: "Trebuchet MS";
  --font-headline: "Pixelated MS Sans Serif";
  --font-headline: "W95FA";
  --font-code: "Perfect DOS VGA 437 Win";

  /* mentioned */
  --mention-foreground: rgb(29, 102, 0);
  --mention-background: rgba(0, 112, 0, 0.2);
  --background-mentioned: linear-gradient(to right, rgb(182, 244, 146), rgba(51, 139, 147, 0));

  /* settings */
  --light-settings-background: #ece9d8;
  --light-settings-sidebar-background: linear-gradient(0deg, rgba(98,119,215,1) 0%, rgba(130,162,211,1) 100%);
  --dark-settings-background: linear-gradient(0deg, rgba(96,119,218,1) 0%, rgba(108,122,198,1) 100%); ;
  --dark-settings-sidebar-background: linear-gradient(0deg, rgba(98,119,215,1) 0%, rgba(130,162,211,1) 100%);
  --background-modifier-hover: #d2dbfc;
  --light-channel-background:linear-gradient(to top, #5868a8, #5868a8, #5868a8, #5868a8, #ffffff);

  /* video player */
  --video-player-border: 1px solid #acacac;
}