/* bottom left icons */

.button_ae40a4,
.sidebar_e031be.button_ae40a4 {
  padding: 4px;
}

.button_b82d53:hover,
.button_ae40a4:hover {
  filter: contrast(1.2);
  transform: scale(1.1);
  transition: 0.2s;
}

/* vencord game activity */

.button_ae40a4[aria-label="Disable Game Activity"],
.sidebar_e031be
  .button_ae40a4[aria-label="Disable Game Activity"][aria-checked="false"],
[src="/assets/32fda287bbd217f60166.svg"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/user-area/Game-Enabled.png);
}

[src="https://cdn.discordapp.com/app-icons/363445589247131668/f2b60e350a2097289b3b0b877495e55f.webp?size=64&keep_aspect_ratio=false"], [src="https://cdn.discordapp.com/app-icons/1005469189907173486/eddb973210f1f119a5e6b4bc49531ba5.webp?size=64&keep_aspect_ratio=false"]
{
  content: url(https://numoder.github.io/dsn10-theme/assets/general/roblox.png);
}

[src="https://cdn.discordapp.com/app-icons/307998818547531777/265a7751b2e62cb0bd6ccd52f467f679.webp?size=64&keep_aspect_ratio=false"], [src="https://cdn.discordapp.com/app-assets/307998818547531777/859167360925564958.png"]
{
  content: url(https://numoder.github.io/dsn10-theme/assets/general/moviemaker.png);
}

[mask="url(#svg-mask-status-online-mobile)"] {
  content: url();
}
/* vencord game activity disabled*/
.button_ae40a4[aria-label="Enable Game Activity"],
.sidebar_e031be
  .button_ae40a4[aria-label="Enable Game Activity"][aria-checked="true"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/user-area/Game-Disabled.png);
}

/* unmuted */
.button_4f306[aria-label="Mute"][aria-checked="false"],
.sidebar_e031be .button_ae40a4[aria-label="Mute"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/user-area/Microphone.png);
}

/* muted */
.button_4f306[aria-label="Mute"][aria-checked="true"],
.sidebar_e031be .button_ae40a4[aria-label="Mute"][aria-checked="true"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/user-area/Microphone2.png);
}

/* undeafened */
.button_ae40a4[aria-label="Deafen"][aria-checked="false"],
.sidebar_e031be .button_ae40a4[aria-label="Deafen"][aria-checked="false"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/volume.png);
}

/* deafened */
.button_ae40a4[aria-label="Deafen"][aria-checked="true"],
.sidebar_e031be .button_ae40a4[aria-label="Deafen"][aria-checked="true"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/user-area/Volume2.png);
}

.button_ae40a4[aria-label="User Settings"],
.sidebar_e031be .button_ae40a4[aria-label="User Settings"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/Settings.png);
}

/* -=- camera -=- */

/* camera off */
.button_b82d53[aria-label="Turn On Camera"] div,
.button_b82d53[aria-label="Camera Unavailable"] div {
  content: url(https://numoder.github.io/dsn10-theme/assets/user-area/webcam2.png);
}

/* camera on */
.button_b82d53[aria-label="Turn Off Camera"] div {
  content: url(https://numoder.github.io/dsn10-theme/assets/user-area/webcam.png);
}

/* -=- sharescreen -=- */

/* sharescreen off */
.button_b82d53[aria-label="Share Your Screen"] div {
  content: url(https://numoder.github.io/dsn10-theme/assets/voicecall/sharescreen.png);
}

/* sharescreen on */
.button_b82d53[aria-label="Share Your Screen"].buttonActive_ae686f div {
  content: url(https://numoder.github.io/dsn10-theme/assets/voicecall/sharescreen2.png);
}

#manage-streams-change-windows > div.iconContainer__5d61c {
  content: url(https://numoder.github.io/dsn10-theme/assets/voicecall/window.png);
}

#manage-streams-stop-streaming > div.iconContainer__5d61c,
div
  > span.disabledButtonWrapper_b04230
  > .button_b82d53[aria-label="Soundboard disabled when deafened"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/delete.png);
}

.button_b82d53[aria-label="Start an Activity"] div {
  content: url(https://numoder.github.io/dsn10-theme/assets/voicecall/games.png);
}

.button_b82d53[aria-label="Open Soundboard"] div {
  content: url(https://numoder.github.io/dsn10-theme/assets/voicecall/soundboard.png);
}

.button_b82d53[aria-label="Soundboard disabled when deafened"] {
  min-width: 45px !important;
  border-radius: 50% !important;
  border: 0 !important;
  margin-left: -12.5px !important;
  margin-top: -10px !important;
  opacity: 0.7 !important;
}

/* video */

/* -=- disconnect -=- */
.button_ae40a4[aria-label="Disconnect"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/delete.png);
}

/* noise suppression */
.flex_f18b02 > .flex_f18b02 > .button_ae40a4:first-child {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/volume3.png);
}

/* uploads  */
.icon__33bb5 {
  background-size: contain;
  margin: 10px;
}

/* image sizes */
.icon_df1a3e,
.audioMetadata__84e00:before {
  height: 40px;
  width: 40px;
}

/* misc */
.icon__33bb5.unknown_d51edd,
[src="/assets/5b74fc90eac76055a5ad.svg"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/files/misc.png);
}

/* zip */
.icon__33bb5.archive__066f8,
[src="/assets/5ff8ffaa3831478d2a28.svg"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/files/zip.png);
}

/*text file */
.icon__33bb5.document_fc4197,
[src="/assets/d18655651bd838408129.svg"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/files/txt.png);
}

/* webcode */
.icon__33bb5.webcode_f10fab {
  content: url(https://numoder.github.io/dsn10-theme/assets/files/webcode.png);
}

/* code */
.icon__33bb5.code_b9f306 {
  content: url(https://numoder.github.io/dsn10-theme/assets/files/code.png);
}

/* audio */
.icon__33bb5.audio__16d30 {
  content: url(https://numoder.github.io/dsn10-theme/assets/files/audio.png);
}

.audioMetadata__84e00:before {
  background-image: url(https://numoder.github.io/dsn10-theme/assets/files/audio.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* pdf */
.icon__33bb5.acrobat_f9eccb,
[src="/assets/18517b33da6ed36b855b.svg"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/files/pdf.png);
}

/* -=- before uploading -=- */

/* voicecall box */
.theme-light .activityPanel_b73e7a,
.theme-light .container_e1958d {
  background-color: #f3f3fd;
  border: 1px solid var(--theme-border);
  box-shadow: inset -10px -10px 14px -5px #8297c2,
    inset 10px 10px 14px -10px white;
  border-radius: 0px !important;
  background-size: contain;
  margin: 1px;
}

/* voicecall buttons */
div.wrapper_e832ee > div > div.actionButtons__85e3c > button,
div.wrapper_e832ee > div > div.actionButtons__85e3c > div > button,
div.wrapper_e832ee > div > div.actionButtons__85e3c > div > span > button,
div.wrapper_e832ee > div > div.actionButtons__85e3c > div > span {
  background: transparent !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50px;
  padding: 10px !important;
  opacity: 1 !important;
}

div.wrapper_e832ee > div > div.actionButtons__85e3c > div > span > button {
  margin-top: -7.5px;
  margin-left: -7.5px;
}

div.wrapper_e832ee > div > div.actionButtons__85e3c > button:hover,
div.wrapper_e832ee > div > div.actionButtons__85e3c > div > button:hover {
  border: 1px solid var(--theme-border);
  box-shadow: inset -10px -10px 14px -5px #8297c2,
    inset 10px 10px 14px -10px white;
  background-size: contain;
  border-radius: 50%;
}

.button_b82d53.buttonColor__7bad9 svg:hover,
.button_b82d53.buttonColor__7bad9.buttonActive_ae686f,
.button_b82d53[aria-expanded="true"].buttonColor__7bad9 {
  background-color: #e1ffcb;
  box-shadow: inset -10px -10px 14px -5px #83ff87,
    inset 10px 10px 14px -10px white;
  border: 1px solid var(--theme-border);
}

.container_debb33 .flex_f18b02 button:nth-child(3) .contents-3ca1mk svg {
  background: green;
  display: none;
}

.toolbar__62fb5 .iconWrapper_de6cd1:nth-child(3) {
  background-size: contain;
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.toolbar__62fb5 .iconWrapper_de6cd1:nth-child(5) .iconWrapper_de6cd1 svg {
  background: grey;
}

#channel-attach-upload-file > div > div.optionLabel_a33d86 > svg {
  background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/download.png);
  background-size: contain;
  color: transparent;
}

/* button right message bar*/
.buttons__7ecff :nth-child(2) svg {
  background: blue;
  visibility: hidden;
  display: none;
}

.emojiButton__176c8 {
  background: red;
  background: url(https://numoder.github.io/dsn10-theme/assets/emojis/happy.gif);
  /* background-size: 24px 24px; */
  background-position: fixed;
  background-repeat: no-repeat;
  margin-top: 8px;
}

/* bottom bar */
.attachButton__5f6dc:hover,
.avatarWrapper__500a6 > .flex_f18b02 > .button__581d0:hover {
  transform: scale(1.05), rotate(125deg);
  transition: 0.2s;
}

/* plus */
.attachButton__5f6dc[aria-label="Upload a file or send invites"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/plus.png);
}

.circleIconButton__05cf2[aria-label="Add a Server"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/plus.png);
  filter: hue-rotate(135deg);
  background-color: transparent;
}

.circleIconButton__05cf2[aria-label="Explore Discoverable Servers"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/explore.png);
  background-color: transparent;
}

.attachButton__5f6dc[aria-label="Upload a file or send invites"][aria-expanded="true"] {
  filter: drop-shadow(0px 0px 1px #000000);
}

.button__581d0[aria-label="Send a gift"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/gift.png);
  margin: 7px;
}

[href="/store"] > div > .avatar__7bd22 {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/nitro.png);
}

.nitroWheel__3f5ab {
  background: url(https://numoder.github.io/dsn10-theme/assets/general/nitro.png);
  color: transparent !important;
  background-size: contain;
}

[href="/message-requests"] > div > .avatar__7bd22 {
  content: url(https://numoder.github.io/dsn10-theme/assets/friends/newpawn.png);
  margin-left: -10px;
  left: 25px;
  position: relative;
}

[href="/message-requests"] > .numberBadge__40d6f {
  position: relative;
  left: -60px;
  top: -10px;
}

[href="/shop"] > div > .avatar__7bd22 {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/gift.png);
}

.button__581d0[aria-label="Encrypt Message"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/lock.gif);
  margin: 7px;
}

.modeLocked__6df8a
  > div
  > a.link_ddbb36
  > div.linkTop_c8969d
  > .iconContainer__6a580 {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/lock.gif);
  width: 20px;
  height: 20px;
  display: block;
  filter: grayscale(0);
}
.button__581d0[aria-label="Open GIF picker"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/gif.png);
  width: 35px;
}

.gifTag__9db5a {
  background-image: url(https://numoder.github.io/dsn10-theme/assets/typing-form/gif.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.stickerButton_c02bc0 {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/sticker.png);
  width: 30px;
}

.emojiButton__176c8,
[aria-label="Add Reaction"] > div,
div.button_d4bf9b[aria-label="Add Reaction"] {
  content: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/emote.png);
}

.unicodeShortcut__01a83 > svg {
  background-image: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/emote.png);
  color: transparent;
}

.categoryItemDefaultCategory__6c3db[aria-label="people"] > svg {
  background-image: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/emote.png);
  color: transparent !important;
}

.button_dd99ad[aria-label="Send Message"]:disabled {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/send.png);
  filter: grayscale(0);
  margin: 8px;
}

.button_dd99ad[aria-label="Send Message"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/send.png);
  margin: 8px;
}

.buttons__7ecff:last-child {
  margin-right: 4px;
}

.button__581d0:disabled,
.button__581d0[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.75;
}

div.iconWrapper_de6cd1[aria-label="Show User Profile"],
div.iconWrapper_de6cd1[aria-label="Hide User Profile"],
div.iconWrapper_de6cd1[aria-label="Show User Profile (Unavailable)"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/userprofile.png);
}

/* channel header icons */
div.iconWrapper_de6cd1[aria-label="Add Friends to DM"],
.button__6d358[aria-label="Invite"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/Invite%20Friends.png);
  margin-top: 3px;
}

div.iconWrapper_de6cd1[aria-label="Start Voice Call"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/phone.png);
}

div.iconWrapper_de6cd1[aria-label="Start Video Call"],
.iconSpacing_f4f39e[aria-label="Video"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/webcam.png);
  width: 25px;
}

.iconWrapper_de6cd1[aria-label="Notification Settings"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/bell.png);
}

.iconWrapper_de6cd1[aria-label="Threads"],
.icon__3ede9[aria-label="Threads"],
.button_d4bf9b[aria-label="Create Thread"],
[id="message-thread"] > .iconContainer__5d61c,
[id="chat-messages-create-thread-null-create-thread-null"]
  > .iconWrapper__8795c {
    content: url(https://numoder.github.io/dsn10-theme/assets/general/threads.png);
}

[id="chat-messages-create-thread-null-create-thread-null"]
  > .iconWrapper__8795c {
  background: var(--accent-color);
  border: 2px solid var(--accent-color-selected);
  padding: 8px;
}

.iconWrapper_de6cd1[aria-label="Inbox"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/inbox.png);
}

.iconWrapper_de6cd1[aria-label="Help"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/help.png);
}

.button_ae40a4 > .vc-info-icon {
  background-image: url(https://numoder.github.io/dsn10-theme/assets/actions/help.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent !important;
}

.iconWrapper_de6cd1:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.iconWrapper_de6cd1[aria-label="Pinned Messages"],
[id="message-pin"] > .iconContainer__5d61c {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/pin.png);
}

.iconWrapper_de6cd1[aria-label="Hide Member List"],
.iconWrapper_de6cd1[aria-label="Show Member List"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/memberlist.png);
}

.iconWrapper_de6cd1[aria-label="New Group DM"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/chatplus.png);
}

.iconWrapper_de6cd1[aria-label="Update Ready!"],
.hoverButtonGroup__304b2 .anchor_c8ddc0[aria-label="Download"] {
  content: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/download.png);
  width: 24px;
}

.hoverButtonGroup__304b2 {
  border: solid 1px var(--menu-border);
  border-radius: 0px;
}

.iconWrapper_de6cd1[aria-label="Show Member List"],
.iconWrapper_de6cd1[aria-label="Hide Member List"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/memberlist.png);
  height: 32px;
  width: 32px;
  margin-right: 5px;
}

li:nth-child(2) > div > a > div > div.avatar__7bd22 {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/memberlist.png);
}

.iconItem__56989[aria-label="Open Chat"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/chat.png);
  height: 16px;
}

.iconItem__56989[aria-label="Create Invite"],
.iconItem__56989[aria-label="Invite to Server"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/Invite%20Friends.png);
  height: 16px;
}

/* home - online */
.actionButton__2b4bb {
  background-color: transparent;
}

.actionButton__2b4bb[aria-label="Message"] svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/general/chat.png);
  background-size: 20px;
  margin-left: 1.5px;
}

.actionButton__2b4bb[aria-label="More"] svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/user-area/815.png);
  background-size: 22px;
  background-repeat: no-repeat;
  margin-left: 1.5px;
}

.actionButton_23182.highlight__57b9f {
  background-color: transparent;
}

.actionButton__2b4bb[aria-label="Accept"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/accept.png);
}

.actionButton__2b4bb[aria-label="Ignore"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/stop.png);
}

.actionButton__2b4bb:hover {
  box-shadow: 0 0 100px rgb(91, 91, 255);
}

.actionButton__2b4bb:hover {
  box-shadow: 0 0 100px rgb(91, 91, 255);
}

svg.icon__4ee3f {
  color: transparent;
}

.iconWrapper_de6cd1[aria-label="Join Voice Call"],
.iconWrapper_de6cd1[aria-label="Join Voice Call"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/phone.png);
}

.iconWrapper_de6cd1[aria-label="Join Video Call"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/webcam.png);
}

.text__35f5c::before {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/loading.gif);
  size: 200%;
}

.wrapper_c899da:after {
  background: url(https://numoder.github.io/dsn10-theme/assets/general/loading.gif);
  width: 75px;
  height: 69px;
}

.text__35f5c > div.tipTitle_ebc1d5 {
  line-height: none;
  text-transform: none;
  margin: 24px;
  font-size: 32px;
  font-family: var(--font-header);
  color: var(--text-primary);
}

.tip__6e299 {
  color: gray;
  font-family: var(--font-code);
  letter-spacing: -1.25px;
}

.container__827e6 video.ready__61f2f,
[src="/assets/988b1594e4843a08ef39.webm"] {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

[src="/assets/b9b0ab98fd3fcb65f4d5.mp4"] {
  display: none !important;
}

.withFrame-haYltI {
  height: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.button_d4bf9b[aria-label="Reply"],
[id="message-reply"] > .iconContainer__5d61c {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/reply.png);
}

.button__581d0[aria-label="Invite"] svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/general/Invite%20Friends.png);
  color: transparent;
  background-size: contain;
}

.actionButton__2b4bb[aria-label="Message"] svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/general/chat.png);
  background-size: contain;
}

.button__581d0[aria-label="Show Chat"] svg {
  background: url(https://numoder.github.io/dsn10-theme/assets/general/chat.png);
  background-size: contain;
  color: transparent;
}

.rtcConnectionStatus_e749c4 .ping__838d2 path {
  font-family: var(--font-headline);
  display: none;
}

.sidebar_e031be
  .panels__58331
  .container_e1958d
  .rtcConnectionStatus_e749c4
  .ping__838d2 {
  background-image: url(https://numoder.github.io/dsn10-theme/assets/general/connection.png);
  background-size: contain;
}

.sidebar_e031be
  .panels__58331
  .container_e1958d
  .rtcConnectionStatus_e749c4
  .rtcConnectionStatusLabel_c2abfa
  .contents__322f4 {
  font-size: 12px;
  color: green;
}

.ping__838d2 svg {
  content: none;
}

.sidebar_e031be
  .panels__58331
  .container_e1958d
  .rtcConnectionStatus_e749c4
  .ping__838d2
  path {
  display: none;
}

.iconItem__56989[aria-label="Edit Channel"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/Settings.png);
  width: 15px;
}

.button_ae40a4 > .vc-cog-wheel {
  background-image: url(https://numoder.github.io/dsn10-theme/assets/general/Settings.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent !important;
}

.icon__53a5c[aria-label="Clear search"],
.icon_fb52f0 .visible_c5d475[aria-label="Search"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/search.png);
}

[id="message-tts"] > .iconContainer__5d61c {
  content: url(https://numoder.github.io/dsn10-theme/assets/general/tts.png);
}

div.button_d4bf9b[aria-label="Copy Message ID"],
[id="message-copy-link"] > .iconContainer__5d61c {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/copyid.png);
}

div.button_d4bf9b[aria-label="Copy Link"],
[id="message-copy-text"] > .iconContainer__5d61c {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/copy.png);
}

div.button_d4bf9b[aria-label="Mark Unread"],
[id="message-mark-unread"] > .iconContainer__5d61c {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/markunread.png);
}

div.button_d4bf9b[aria-label="Pin Message"] {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/pin.png);
  filter: hue-rotate(120deg);
}

div.button_d4bf9b[aria-label="Edit"],
[id="message-edit"] > .iconContainer__5d61c {
  content: url(https://numoder.github.io/dsn10-theme/assets/actions/pencil.png);
}

div.button_d4bf9b[aria-label="Delete"] {
}

.container__26baa
  .children_cde9af
  .iconWrapper_de6cd1
  + .titleWrapper_d6133e
  .title__84e16:before,
.container__26baa
  .children_cde9af
  .iconWrapper_de6cd1
  + .hiddenVisually__389a6
  + .titleWrapper_d6133e
  .title__84e16:before {
  content: "#";
}

li > div > div > a > div > div.name__4eb92.overflow__993fa::before {
  content: "# ";
}

div.upperContainer__57565
  > .children_cde9af
  > .iconWrapper_de6cd1
  > svg.icon_ae0b42 {
  color: transparent;
  width: 0px;
}