/**
 * @name DiscordLiveMessenger
 * @author numoder
 * @version 1.0.0
 * @description A little throwback to better times.
 * @source https://github.com/AnthonyM04/dsn-theme
*/

/* -=-=- WINDOWS TITLEBAR -=-=- */
.typeWindows__5fa63 {
    background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/topbarmsn9.png);
background-size: cover;
}
.bg-1QIAus {
    background-color: transparent;
}
/* Discord wordmark */
.wordmarkWindows__05c46 {
    color: #2f445f00;
}
/* Button sizes */
.winButtonClose__73489, .winButtonMinMax__72f36, .winButton__88672{
    height:17px;
    width:17px;
    margin-top:5px;
    margin-right:5px;
}
/* Each button size */
.winButtonMinMax__72f36.winButton__88672.flexCenter-1Mwsxg.flex-3BkGQD.justifyCenter-rrurWZ.alignCenter-14kD11 {
    height:17px;
    width:17px;
    margin-top:5px;
    margin-right:5px;
}
/* Exit button */
.winButtonClose__73489 {
    content: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/close2.png);
}
/* Maximize button */
.winButtonMinMax__72f36.winButton__88672{
    content: url(https://raw.githubusercontent.com/AnthonyM04/msn-dscrd/main/assets/max2.png);
}
/* Minimize button */
.winButtonMinMax__72f36.winButton__88672:nth-of-type(1)::after {
    content: url(https://raw.githubusercontent.com/AnthonyM04/msn-dscrd/main/assets/min2.png) !important;
}
.withFrame-2dL45i {
height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* -=-=- Server sidebar -=-=- */
.wrapper_a7e7a8 {
    /* width: 39px; */
    background-color: #63609b;
}
.tree__7a511 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    /* width: 39px; */
}
.scroller__3d071 {
    background-color: #63609b;
background: linear-gradient(to top, #5868a8, #5868a8, #5868a8, #5868a8, #ffffff);
}
foreignObject {
    mask: none;
    opacity: 1;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: #fff;
    background-color: #7289da00;
}
.childWrapper__01b9c {
     background-color: #fff0;
}
.tutorialContainer__890ea{
    position: relative;
}
.platform-win .scroller-2TZvBN {
    padding-top: 0px;
}
.homeIcon-tEMBK1 {
    display: block;
    width: 0px;
    height: 0px;
}
.childWrapper__01b9c {
    position: relative;
    background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/contacttop.png);
    margin-top:12px;
    margin-left:2px;
    background-repeat:no-repeat;
    margin-bottom:-8px;
}
.childWrapper__01b9c svg {
    color: transparent;
}
 
.listItem-2P_4kh {
    position: relative;
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    border: 0px solid #ababab;
    border-top: 0px solid #a2a2a273;
    border-left: solid 0px #cacaca;
    box-shadow: 0px 0px 0Px #5d5d5d;
    border-bottom: 0px solid #424242;
    padding-left: 0Px;
    margin-bottom: 0px;
    opacity: 1;
}
.svg-2zuE5p, .wrapper-28eC3z {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 39px;
    height: 39px;
    opacity: 1;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    border: 3px solid #ffffff00;
    left: -3px;
    top: -3px;
}
.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh {
    padding: 8px;
    height: 36px;
    width: 36px;
}
.wrapper-z5ab_q {
    width: 39px;
    height: 39px;
}
.item-2LIpTv {
    position: fixed;
    display: block;
    width: 5px;
    border-radius: 0%;
    margin-left: 0px;
    background-color: #ff180000;
    height: 6px !important;
    border: 0px solid #780080;
    background: linear-gradient(to bottom left,#259401, #1bff00);
    margin: -17px 0px 1px 34px;
    z-index: 2;
}
.numberBadge-37OJ3S.base-3IDx3L {
    background: linear-gradient(45deg, #ff0202, #f3ec00fa);
}
/* nom serveur */
.name-3Uvkvr, .tierTooltipTitle-3AtaZT {
    font-weight: 600;
    color: black;
 
}
.header-3OsQeK {
    box-shadow: var(--elevation-low);
    background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/middlebar.png);
background-repeat: repeat-x;
 background-size:contain;  
 height: 49px;
 padding: 0 5px;
}
/* SERVER LIST*/
.platform-win .sidebar-1tnWFu {
    border-radius: 0px 0 0;
}
.container-1NXEtd  .content-2a4AW9 {
    position: relative;
    margin-top: 0px;
}
.sidebar-1tnWFu {
    width: 170px;
 
}
.scroller-WSmht3 { /*barre MP */
    background-color: #63609b;
}
.privateChannels-oVe7HL {
    background-color: #63609b;
}
.content-1gYQeQ {
    height: 25px;
    padding: 0px 4px;
    margin-left: 0px;
    border-radius: 6px;
}
.containerDefault-YUSmu3, .containerDragAfter-3aBiOW, .containerDragBefore-1s5Qg6, .containerUserOver-SDa1HW {
 
    background: radial-gradient(#fff, white);
    box-shadow: inset 1Px 1px 2px grey;
    margin:2px;
    border-radius: 3px;
 
}
.wrapper-1S43wv {
    color: white;
}
.wrapper-NhbLHG {
    height: 26px;
}
.scroller-1ox3I2 {
    z-index: 1;
    padding-right: 8px;
    background: linear-gradient(to right,#5868a8, #6878b8, #6878b8, #667dbc, #859bdc, #8898d8);
    border-right: 1px solid #80808073;
    border-radius: 0px 0 0 0;
}
.scroller-3X7KbA{
background: linear-gradient(to top, #5767b3,#fbfbff)!important;
 
}
.container-q97qHp { /* Categories */
    text-transform: uppercase;
    font-size: 14px;
    color: #000000
} /*category in server*/
.containerDefault-3TQ5YN, .containerDragAfter-1J_-1V, .containerDragBefore-ei4h1m, .containerUserOver-3woq86 {
    position: relative;
    padding-top: 3px;
    background: linear-gradient(13deg, #ffffff30, #fbfbfbbf, #fbfbfb);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    box-shadow: inset 1px 1px 1px #6d6d6d;
    margin-left: 1px;
    margin-right: 2px;
 
}/*name in voicechanel */
.icon-N9JZb6, .username-vAneIW { 
    color: black!important;
}
.name-28HaxV {
    color: black;
}
.modeSelected-3DmyhH .name-28HaxV{
        color: inherit;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background: linear-gradient(to right,#b5b5b5, #ffffff00);
    box-shadow: inset 1Px 1px 2px grey;
    color: white;
}
.modeUnread-3Cxepe .name-28HaxV{    
    color: #020202;
    background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/pin.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    font-weight: 600;
}
.unread-36eUEm {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 15px;
    top: 22%;
    left: 5px;
    margin-top: 0px;
    display: none;
}
.icon-2W8DHg {
    display: none;
}
.avatarContainer-3FF_Km.avatar-3FKimL.avatarSmall-3qwAkA {
    content: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/contactoldmicro2.png);
background-image: none !important;
}
.avatarSmall-3qwAkA {
    width: 24px;
    height: 24px;
}
.avatar-3FKimL {
    border-radius: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
 
}
.listDefault-2F-w65 .avatarContainer-3FF_Km {
    margin-right: 3px;
    margin-left: 1px;
}
.icon-N9JZb6, .username-vAneIW {
    color: white;
}
/* MIDDLE */
.base-2jDfDU {
    left: 0px;
}
.colorDefault-1e8tQv {
    background-color: #335abd;
    color: #fff;
}
.notice-2HEN-u {
    font-size: 14px;
    line-height: 33px;
    border-radius: 0px 0 0;
}
 
.container-ZMc96U.themed-Hp1KC_ {
background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/middlebar.png);
background-repeat: repeat-x;
 background-size:contain;   
}
.newMessagesBar-1hF-9G {
    border-radius: 0 0 0px 0px;
    background-color: #ffffe1;
}
.barButtonBase-Sk2mdB {
    text-align: left;
    background: none;
    color: #000;
    font-size: 12px;
}
.barBase-3xxDXu {
    left: 0px;
    right: 0px;
    opacity: .95;
}
.theme-light .children-3xh0VB:after {
    background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),to(var(--background-primary)));
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,var(--background-primary));
display:none;
 
}
.chatContent-3KubbW {
    border-top: 1px solid #8080807a;
}
.topic-11NuQZ {
    color: #000;
    font-style: italic;
}
.isUnread-3Lojb- {
    border-color: #ffa500;
}
.unreadPill-3nEWYM {
    color: #fff;
    background-color: #ffa500;
}
.unreadPillCapStroke-1nE1Q8 {
    color: #ffa500;
    fill: #ffa500;
}
.compact-2Nkcau .header-2jRmjb {
    display: block;
}
.messagesWrapper-RpOMA3, .scrollerContent-2SW0kQ {
    display: flex;
    box-shadow: inset 0px 0px px black;
    border-radius: 0px;
background: white;
}
.compact-2Nkcau .timestamp-p1Df1m, .cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
    text-align: right;
    font-size: 0.95rem;
    color: #ff8100;
}
.timestamp-p1Df1m.latin12CompactTimeStamp-2G5XJd {
    width: 3.25rem;
}
.username-h_Y3Us {
    font-size: 12px;
    font-weight: 500!important;
    line-height: 1.375rem;
    color: #616161;
    text-transform: uppercase;
}
.imageWrapper-oMkQl4 {
    border-radius: 2px;
    border: solid 1px white;
    border-bottom: 2px solid #fbfbfb;
    border-top: 1px solid #d6d6d6;
    border-left: 2px solid #e0e0e0;
    box-shadow: 0px 0px 3px black;
}
.markup-eYLPri {
    color: #000;
    font-weight: 400;
    font-size: 14px;
}
/* Contacts*/
.membersWrap-3NUR2t {
    min-width: 196px;
    border-left: 1px solid #80808063;
    border-right: 1px solid #80808063;
}
.members-3WRCEx {
    width: 196px;
}
.members-3WRCEx .content-2a4AW9 {
    width: 196px !important;
    margin-top: 0px;
}
.members-3WRCEx, .members-3WRCEx>div {
 
 
}
.layout-1qmrhw {
    border-radius: 4px;
    height: 28px;
    padding: 0 0px;
}
.container-1oeRFJ {
    margin-right: 8px;
    border-right: 1px solid #00000029;
    background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/rightbar.png);
    background-size: 196px;
}
.membersGroup-2eiWxl {
    padding: 6px 7px 0px 6px;
    height: 27px;
    color: #0042a5;
    text-shadow: 0px 0px 0px #00000080;
    border-bottom: 1px solid #0000004a;
    box-shadow: 0px 1px #ffffff7d;
    background: linear-gradient(180deg, #cfdbeb, #fdfeff);
    border-top: 1px solid #0000004a;
    border-right: 1px solid #00000038;
    margin-right: 8px;
}
.member-2gU6Ar {
    margin-left: 2px;
}
.name-3Vmqxm {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.content-1U25dZ, .name-3Vmqxm {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
 
}
.member-2gU6Ar foreignObject {
    mask: none;
    opacity: 0;
}
.activity-2EQDZv {
    font-size: 12px;
    line-height: 16px;
    color: #000;
    font-weight: 500;
    max-width: 140px;
}
.botTagRegular-kpctgU {
    background: #7289da00;
    color: #020afd;
}
.px-MnE_OR .botText-1fD6Qk {
    font-size: 10px;
    line-height: 15px;
    display:none;
}
.mask-1FEkla { /*status*/
    pointer-events: none;
    position: relative;
    display: block;
    height: 26px;
    width: 26px;
    bottom:5px;
    right: 0px;
    border-radius: 50%;
}
.avatar-6qzftW {
    width: 30px;
    height: 30px;
    margin-right: 0px;
    background: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/contactold2.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.offline-22aM7E {
    opacity: 1;
}
.offline-22aM7E .avatar-6qzftW  {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    content: url(http://www.netscape-communications.com/wp-content/uploads/2021/07/contactoldoffline3.png);
background: transparent;
 
}
 
/* menu bas profil */
.panels-3wFtMD {
    background-color: #ebedef00;
    background:linear-gradient(to right,#5868a8, #6878b8, #6878b8, #667dbc, #859bdc, #8898d8);
}
.wrapper-1VLyxH {
    position: relative;
    border-radius: 0%;
    width: 35px !important;
    height: 35px!important;
}
 
.panels-3wFtMD .nameTag-sc-gpq.canCopy-IgTwyV {
    display: none;
}
 
.panels-3wFtMD .wrapper-1VLyxH .mask-1FEkla {
    pointer-events: none;
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    bottom: 5px;
    right: 0px;
    border-radius: 4px;
    border: 2px solid black;
    background: linear-gradient(-45deg, #001933, #0063cc, #44a4ff);
    box-shadow: 0px 1px 3px black;
}
.title-338goq {
    color: #ffffff;
    font-weight: 200;
}
.subtext-2HDqJ7 {
    line-height: 13px;
}
.button-12Fmur {
 
    width: 26px;
    height: 26px;
    border-radius: 3px;
    color: #fbfbfb;
}
 
/* BARRE HAUT ICON DROITE */
.iconWrapper-2awDjA {
    margin: 0 0px;
}
.clickable-ZD7xvu .icon-2xnN2Y {
    color: #ffffff;
}
.icon-2xnN2Y {
    width: 19px;
    height: 19px;
}
.searchBar-zdmu7v {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 23px;
    width: 144px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: inset 1px 1Px 2px black;
    cursor: text;
    overflow: hidden;
    padding: 0 2px;
    color: #000000;
    background-color: #eaeaea;
}
.children-3xh0VB .iconWrapper-2awDjA {
    display:none;
}
.base-21yXnu {
    font-weight: 600;
}
.size16-rrJ6ag {
    font-size: 16px;
    line-height: 22px;
    color: #000 !important;
}
/* chatbox */
.form-3gdLxP {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
}
.channelTextArea-1VQBuV {
    border-radius: 0px;
    border: 1px solid #80808073;
    border-left: 0px solid;
    border-bottom: 0px solid;
    margin-bottom: 0px;
    background: linear-gradient(to bottom, #fff 10%, #b2c2e4 50%, #fff);
}
.scrollableContainer-15eg7h {
    background-color: #71717100;
    border-radius: 0px;
    background: linear-gradient(45deg, #8995d4, transparent, transparent);;
}
.button-2fCJ0o {
    color: #ffffff;
}
.attachButtonPlus-3IYelE {
    fill: #fbfbfb;
}
.icon-1d5zch {
    width: 24px;
    height: 24px;
 
}
.typing-2J1mQU {
    background-color: transparent;
    color:white;
    display: none;
    }
 
 
.form-3gdLxP {
 
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
    background:linear-gradient(0deg, #ffffff, #737373) ;
}
.fontSize12Padding-1aH21p { /*text chat */
    padding-bottom: 4px;
    padding-top: 6px;
    box-shadow: inset 1Px 1px 3px #00000047;
    border-radius: 4px;
    margin-top: 8px;
    background: white;
}
.fontSize14Padding-1nmT2C {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 13px;
}
.placeholder-1_mJY1 {
    background: white;
    box-shadow: inset 1px 1px 1px #0000004d;
}
 
/*bouton bas avatar+son+mute */
.container-YkUktl .flex-2S1XBF button:first-child .contents-3ca1mk svg {
    background:blue;
    background-size:contain;
    display:none;
}
.container-YkUktl .flex-2S1XBF button:first-child  {
    background:blue;
    background:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/micromsn2.png);
    background-size:contain;
    height:19px;
   width:19px;
   margin-right:8px}
.container-YkUktl .flex-2S1XBF button:nth-child(2) .contents-3ca1mk svg {
    background:red;
    display:none;
}
.container-YkUktl .flex-2S1XBF button:nth-child(2)  {
    background:red;
    background:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/muteall0.png);
    background-size:contain;
      height:19px;
      width:19px;
      margin-right:8px;
}
.container-YkUktl .flex-2S1XBF button:nth-child(3) .contents-3ca1mk svg {
    background:green;
   display:none;
}
.container-YkUktl .flex-2S1XBF button:nth-child(3) {
    background:red;
    background:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/setting.png);
    background-size:contain;
    height:19px;
    width:19px;
 /* ikons top bar right */ 
}
.toolbar-3_r2xA .iconWrapper-2awDjA:first-child .iconWrapper-2awDjA svg{
    background:orange;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:first-child {
    content:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/bell.png);
    background-size:contain;
    height:24px;
    width:24px;
    margin-right:5px;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(2) .iconWrapper-2awDjA svg{
    background:red;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(2){
    content:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/pin.png);
     background-size:contain;
      height:32px;
      width:32px;
      margin-right:5px;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(3) .iconWrapper-2awDjA svg{ 
    background:blue;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(3) {
    content:url('http://www.netscape-communications.com/wp-content/uploads/2021/07/contactstopbar.png)');
        background-size:contain;
      height:24px;
      width:24px;
      margin-right:5px;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(5) .iconWrapper-2awDjA svg{
    background:grey;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(5) {
    content:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/download.png);
        background-size:contain;
      height:24px;
      width:24px;
      margin-right:8px;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(6) .iconWrapper-2awDjA svg{
    background:green;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-child(6) {
    content:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/mailbox2top.png);
        background-size:contain;
      height:24px;
      width:24px;
      margin-right:8px;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:last-child .iconWrapper-2awDjA svg{
    background:violet;
}
.toolbar-3_r2xA .iconWrapper-2awDjA:last-child {
    content:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/help.png);
    background-size:contain;
      height:24px;
      width:24px;
}
 
/* button right message bar*/
.buttons-uaqb-5 :nth-child(2) svg{
background:blue;
visibility:hidden;
display:none;
}
.buttons-uaqb-5 :nth-child(1) svg{
background:blue;
background:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/pin.png);
background-size:cover;
display:none;
}
.sprite-2lxwfc  {
background:green;
visibility:hidden;
}
.emojiButton-3FRTuj {
background:red;
background:url(http://www.netscape-communications.com/wp-content/uploads/2021/07/emote.png);
background-size:24px 24px;
background-position:fixed;
background-repeat:no-repeat;
margin-top:8px;
}
